<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
	<div id="loadingspinner">
		<div class="insidespinner allcenter">
<!-- 			<img src="/img/virgo360_transp_bckr.png" class="img100"> -->
		</div>
	</div>
</body>