<head>
  <title>VivioHealth</title>
	<link rel="manifest" href="/push_manifest.json" />
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable = no">
<!-- 	<meta name="fragment" content="!"> -->
<!-- 	<meta name="msvalidate.01" content="94B3F70E5F916804BF7CB42D68F39422" />
	<meta property="fb:app_id" content="1877742739178201">
	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="website">
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:site" content="@xlazz">
	<meta property="twitter:creator" content="@xlazz"> -->
<!-- 	<meta name="title" content="Hack your resume with the SuperPower of AI">
	<meta name="keywords" content="resume, artificial intellect, superpower, hack, job">
	<meta name="description" content="Hack your resume with the SuperPower of AI"> -->
	<meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">
	<!-- 	 -->
<!-- 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> -->
<!-- 	<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel="stylesheet" type="text/css"> -->
	<link href='https://fonts.googleapis.com/css?family=Muli:400,700|Baloo+Bhaijaan:400,700|Roboto:400,300,300italic,400italic,700,700italic|Oswald:400,300,700|Montserrat:400,700|PT+Sans:400,700|Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

<!-- 	<script src="/vrview/build/vrview.js"></script> -->
<!-- <script src="js/D.min.js"></script> -->
<!-- <script src="js/uevent.js"></script> -->
<!-- <script src="js/doT.min.js"></script> -->
<!-- <script src="js/photo-sphere-viewer.js"></script> -->
<!-- 	<script src="/js/three.js"></script> -->
<!-- 	<script src="/js/panolens.js"></script> -->
<!-- 	<script src="/js/DragConrols.js"></script> -->
<!-- 	<script src="/js/dat.gui.min.js"></script> -->
<!-- 	<script  src="//connect.facebook.net/en_US/sdk.js"></script> -->
<!-- 	<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script> -->

</head>
