<template name="adminpage">

	<section id="tour" class="container content-section topsection">
		<div class="col-md-8 col-md-offset-2">
			<h4 class="brand-heading text-center">ADMIN</h4>
		</div>
		
		<div class="row">
			<div class="col-md-8 col-md-offset-2 pointer linkblue h3" id="contacts"> 
				<i class="fa fa-caret-square-o-right" aria-hidden="true"></i> Contacts:
			</div>
		</div>
		{{#if $eq selector 'contacts'}}	
			{{#unless contacts}}
				<h4 class="animated fadeInLeft">No contacts saved in DB</h4>
			{{/unless}}
			<div class="row animated fadeInLeft">		
				<div class="col-md-8 col-md-offset-2">

					<table class="table  table-responsive table-striped">
						{{#each contacts}}
						<tr>
							<td>
								{{createdAt}} 
							</td>
							<td>
								{{name}} <br/>
								{{username}} {{email}}<br/><br/>
							</td>
							<td>
								{{question}}
							</td>
							<td>
								{{#unless ifSeen}} 
									<button id="{{_id}}" class="button btn btn-small seen">OK</button>
								{{/unless}}
							</td>
							<td>
								<button id="{{_id}}" class="button btn btn-small remove">remove</button>
							</td>
						</tr>
						{{/each}}
					</table>
				</div>
			</div>
		{{/if}}

		<div class="row">
			<div class="col-md-8 col-md-offset-2 pointer linkblue h3" id="subusers"> 
				<i class="fa fa-caret-square-o-right" aria-hidden="true"></i> Push to users: 
			</div>
		</div>
		{{#if $eq selector 'subusers'}}
			{{> subusers}}
		{{/if}}
		
		<div class="row">
			<div class="col-md-8 col-md-offset-2 pointer linkblue h3" id="adopters"> 
				<i class="fa fa-caret-square-o-right" aria-hidden="true"></i> Adopters: 
			</div>
		</div>
		{{#if $eq selector 'adopters'}}
			{{> adopters}}
		{{/if}}		
		
		<div class="row">
			<div class="col-md-8 col-md-offset-2 pointer linkblue h3" id="conversations"> 
				<i class="fa fa-caret-square-o-right" aria-hidden="true"></i> Conversations: 
			</div>
		</div>
		{{#if $eq selector 'conversations'}}
			{{> conversations}}
		{{/if}}		
		
		<div class="row">
			<div class="col-md-8 col-md-offset-2 pointer linkblue h3" id="allusers"> 
				<i class="fa fa-caret-square-o-right" aria-hidden="true"></i> All users: 
			</div>
		</div>
		{{#if $eq selector 'allusers'}}
			{{> allusers}}
		{{/if}}
				
<!-- 		<div class="row">
			<div class="col-md-8 col-md-offset-2 pointer linkblue h3" id="mailchimp"> 
				<i class="fa fa-caret-square-o-right" aria-hidden="true"></i> Mailchimp: 
			</div>
		</div>
		{{#if $eq selector 'mailchimp'}}
			{{> mailchimp}}
		{{/if}} -->
		
		<div class="row">
			<div class="col-md-8 col-md-offset-2 pointer linkblue h3" id="adminusers"> 
				<i class="fa fa-caret-square-o-right" aria-hidden="true"></i> Admins: 
			</div>
		</div>
		{{#if $eq selector 'adminusers'}}
			{{> adminusers}}
		{{/if}}
		
		<div class="row">
			<div class="col-md-8 col-md-offset-2 pointer linkblue h3" id="testusers"> 
				<i class="fa fa-caret-square-o-right" aria-hidden="true"></i> Test users: 
			</div>
		</div>
		{{#if $eq selector 'testusers'}}
			{{> testusers}}
		{{/if}}		
		
<!-- 		<div class="row">
			<div class="col-md-8 col-md-offset-2 pointer linkblue h3" id="prousers"> 
				<i class="fa fa-caret-square-o-right" aria-hidden="true"></i> Pro users: 
			</div>
		</div>
		{{#if $eq selector 'prousers'}}
			{{> prousers}}
		{{/if}} -->

		<hr/>
		
<!-- 		<div class="row">
			<div class="col-md-8 col-md-offset-2 pointer linkblue h3" id="sharedtours"> 
				<i class="fa fa-caret-square-o-right" aria-hidden="true"></i> Shared Tours: 
			</div>
		</div>
		{{#if $eq selector 'sharedtours'}}
			{{> sharedtours}}
		{{/if}}
		
		<div class="row">
			<div class="col-md-8 col-md-offset-2 pointer linkblue h3" id="banned"> 
				<i class="fa fa-caret-square-o-right" aria-hidden="true"></i> Banned tours: 
			</div>
		</div>		
		{{#if $eq selector 'banned'}}
			{{#unless bannedTours}}
				<h4 class="animated fadeInLeft">No banned Tours</h4>
			{{/unless}}
			{{> bannedTours}}
		{{/if}} -->

<!-- 		<div class="row">
			<div class="col-md-8 col-md-offset-2 pointer linkblue h3" id="faq"> 
				FAQ: 
			</div>
		</div>
		<br/> -->
		
<!-- 		{{#if $eq selector 'faq'}}
			<div class="row animated fadeInLeft">		
				<div class="col-md-12">
					New <br/>
					{{> quickForm collection="Faq" type="insert" id="insertFaq" template="bootstrap3-inline" label=false label-class="hidden" afFieldInput-placeholder="schemaLabel" }}
					Existing<br/>
					{{#each dataFaq}}
						{{#unless $eq editFaq _id}}
							<div id="{{_id}}" class="row pointer linkblue editFaq">		
								<div class="col-xs-12 col-sm-2">
									{{title}}
								</div>
								<div class="col-xs-4 col-sm-3">
									{{question}}
								</div>
								<div class="col-xs-8 col-sm-7">
									{{answer}}
								</div>
							</div>	
						{{else}}
							{{> quickForm collection="Faq" doc=this type="update" id="updateFaq" template="bootstrap3-inline" label=false label-class="hidden" afFieldInput-placeholder="schemaLabel" }}
						{{/unless}}
					{{/each}}
				</div>
			</div>
		{{/if}} -->
		<hr/>
		
		<div class="row">
			<div class="col-md-8 col-md-offset-2 pointer linkblue h3" id="landing"> 
				<i class="fa fa-caret-square-o-right" aria-hidden="true"></i> Landing page
			</div>
		</div>
		{{#if $eq selector 'landing'}}
			<select id="selectText" class="form-control selectText">
				{{#each texts}}
					<option value="{{title}}">{{title}}</option>
				{{/each}}
			</select>
			<br/><br/>
			<div class="row animated fadeInLeft">		
				<div class="col-md-12">
					{{#if dataTexts}}
						{{> quickForm collection="Texts" doc=dataTexts type="update" id="updateTexts"
							template="bootstrap3-inline" label=false label-class="hidden" afFieldInput-placeholder="schemaLabel" }}
					{{else}}
						{{> quickForm collection="Texts" type="insert" id="insertTexts"
							template="bootstrap3-inline" label=false label-class="hidden" afFieldInput-placeholder="schemaLabel" }}
					{{/if}}
				</div>
			</div>
		{{/if}}
		
		<div class="row">
			<div class="col-md-8 col-md-offset-2 pointer linkblue h3" id="productnews"> 
				<i class="fa fa-caret-square-o-right" aria-hidden="true"></i> Product News
			</div>
		</div>	
		{{#if $eq selector 'productnews'}}				
			<div class="row animated fadeInLeft">		
				<div class="col-md-12">
					{{#if $eq editRecord 'new'}}
						{{#autoForm collection="Texts" template="bootstrap3-horizontal" type="insert" doc=this label-class="hidden" afFieldInput-placeholder="schemaLabel"  id="insertNewsForm"}}
							{{> afQuickField name="title" value="productnews" readonly=true}}
							{{> afQuickField name="about.h2"  }}
							{{> afQuickField name="about.text"  }}
							<div class="form-group">
								<button type="submit" class="btn btn-primary submitted">        
									Submit
								</button>
							</div>
						{{/autoForm}}
					{{else}}
						<button id="newRecord" class="button btn btn-info newRecord ">Add news</button>
					{{/if}}
				</div>
			</div>
			{{#each news}}
				<div class="row animated fadeInLeft">		
					<div class="col-md-12">
						{{#autoForm collection="Texts" template="bootstrap3-horizontal" type="update" doc=this label-class="hidden" afFieldInput-placeholder="schemaLabel" id=formId}}
							{{> afQuickField name="title" readonly=true}}
							{{> afQuickField name="about.h2"  }}
							{{> afQuickField name="about.text"  }}
							{{> afQuickField name="createdAt" readonly=true}}
							<div class="form-group">
								<button type="submit" class="btn btn-primary submitted">        
									Submit
								</button>
							</div>
						{{/autoForm}}
						<button class="remove button btn btn-inforemove submitted">Remove</button>
					</div>
				</div>
			{{/each}}
		{{/if}}

		<div class="row">
			<div class="col-md-8 col-md-offset-2 pointer linkblue h3" id="emails"> 
				<i class="fa fa-caret-square-o-right" aria-hidden="true"></i> Email templates
			</div>
		</div>	
		{{#if $eq selector 'emails'}}
			<div class="row animated fadeInLeft">		
				<div class="col-md-12">
					{{> emailTemplates}}
<!-- 					{{#if dataEmails}}
						{{#each dataEmails}}
							{{> quickForm collection="Emails" doc=dataEmails type="update" id="updateEmails"
							template="bootstrap3-inline" label=false label-class="hidden" afFieldInput-placeholder="schemaLabel" }}
						{{/each}}
					{{else}}
						{{> dataEmails collection="Emails" type="insert" id="insertEmails"
							template="bootstrap3-inline" label=false label-class="hidden" afFieldInput-placeholder="schemaLabel" }}
					{{/if}} -->
				</div>
			</div>
		{{/if}}		
<!-- 		<div class="row">
			<div class="col-md-8 col-md-offset-2 pointer linkblue h3" id="pricing"> 
				Pricing
			</div>
		</div>
		<br/>		
		
		{{#if $eq selector 'pricing'}}
			<div class="row animated fadeInLeft">		
				<div class="col-md-12">
					
					{{#if dataPricing}}
						{{#each pricing}}
							{{> quickForm collection="Pricing" doc=dataPricing type="update" id="updatePricing"
								template="bootstrap3-inline" label=false label-class="hidden" afFieldInput-placeholder="schemaLabel" }}
						{{/each}}
					{{else}}
						{{> quickForm collection="Pricing" type="insert" id="insertPricing"
							template="bootstrap3-inline" label=false label-class="hidden" afFieldInput-placeholder="schemaLabel" }}
					{{/if}}
				</div>
			</div>
		{{/if}} -->

		<div class="row">
			<div class="col-md-8 col-md-offset-2 pointer linkblue h3" id="soundslibrary"> 
				<i class="fa fa-caret-square-o-right" aria-hidden="true"></i> Sounds Library: 
			</div>
		</div>	
		{{#if $eq selector 'soundslibrary'}}
			{{> soundsLibrary}}
		{{/if}}
		
		<div class="row">
			<div class="col-md-8 col-md-offset-2 pointer linkblue h3" id="conditions"> 
				<i class="fa fa-caret-square-o-right" aria-hidden="true"></i> Terms and Privacy: 
			</div>
		</div>	
		{{#if $eq selector 'conditions'}}
			{{> conditions}}
		{{/if}}		
		
		<div class="row">
			<div class="col-md-8 col-md-offset-2 pointer linkblue h3" id="integration"> 
				<i class="fa fa-caret-square-o-right" aria-hidden="true"></i> Integration: 
			</div>
		</div>	
		{{#if $eq selector 'integration'}}
			{{> integration}}
		{{/if}}		
		
		<div class="row">
			<div class="col-md-8 col-md-offset-2 pointer linkblue h3" id="verrors"> 
				<i class="fa fa-caret-square-o-right" aria-hidden="true"></i> Errors: 
			</div>
		</div>	
		{{#if $eq selector 'verrors'}}
			{{> verrors}}
		{{/if}}
		
	</section>
</template>

<template name='bannedTours'>
	<div class="row ">
		{{#each tours}}
			<div class="col-sm-6 col-md-4 {{ifHidden}}">
				
				<div class="btn-admin animated fadeInUp linkwhite">

				</div>
			
				<div class="scenemenu animated fadeInUp linkwhite fontlarge">
					<h4>
						{{title}} by {{username}}<br/>
					</h4>
	
					{{#if hidden}}
						<i class="fa fa-ban askUnhide red hovspan animated fadeInUp" aria-hidden="true"><span>Click to unban</span></i>
					{{/if}}
				</div>
					
				<a href="{{pathFor '/tour/:_id' _id=_id}}">
					<img src="{{dataImg}}" alt="{{id}}" title="{{id}}" class="img-responsive img100 animated zoomIn {{grayscale}}"/>
				</a>
				<br/>

			</div>
			
		{{/each}}
	</div>
</template>

<template name='conditions'>
	
	<div class="row animated fadeInLeft">
		<div class="col-md-8 col-md-offset-2 pointer linkblue h3"> 
			Updated {{conditions.updated}} 
		</div>
	</div>
	<div class="row animated fadeInLeft">
		<div class="col-md-8 col-md-offset-2 animated fadeInLeft"> 
			{{#if conditions}}
				{{#autoForm collection="Texts" type="update" label-class="hidden" afFieldInput-placeholder="schemaLabel" doc=conditions id="updateConditionsForm"}}
					{{> afQuickField name="conditions.terms" value=conditions.terms }}
					{{> afQuickField name="conditions.privacy" value=conditions.privacy}}
					{{> afQuickField name="conditions.updated" value=conditions.updated}}
					<div class="form-group">
						<button type="submit" class="btn btn-primary">        
							Submit
						</button>
					</div>
				{{/autoForm}}
			{{else}}
				{{#autoForm collection="Texts" type="insert" label-class="hidden" afFieldInput-placeholder="schemaLabel" doc=conditions id="insertConditionsForm"}}
					{{> afQuickField name="conditions.terms" value=conditions.terms }}
					{{> afQuickField name="conditions.privacy" value=conditions.privacy}}
					{{> afQuickField name="conditions.updated" }}
					<div class="form-group">
						<button type="submit" class="btn btn-primary">        
							Submit
						</button>
					</div>
				{{/autoForm}}			
			{{/if}}
		</div>
	</div>
</template>

<template name='sharedtours'> 
	
	{{#each tours}}
		<div class="row text-left">
			<div class="col-xs-3">
				<div class="animated fadeInUp  ">	
					<a class="linkblue fontlarge" href="/tour/{{_id}}">{{title}}</a><br/>
				</div>
			</div>		
<!-- 			<div class="col-xs-1">
				<img class="img100 maxwidth100" src="{{icon.url}}" />
			</div>	 -->
			<div class="col-xs-3">
				Shared <code>{{sharedTimes}} times</code><br/>
				Watched <code>{{watched}}</code><br/>
				Liked <code>{{commented}}</code><br/>
				Commented <code>{{commented}}</code><br/>
				Created <code>{{createdDate}}</code><br/>
				Published <code>{{published}}</code><br/>
				by <code>{{username}}</code><br/>
			</div>		
			<div class="col-xs-6">
				{{#each social}}
					<div class="">
						{{type}} 
					</div>
					<div class="">
						<a href="{{url}}" target=_blank>{{id}}</a> 
						{{user}} 
					</div>
					<div class="">
						{{date}}
					</div>
				{{/each}}		
			</div>
<!-- 			<div class="col-xs-3">
				<input type="checkbox" class="toggleSwitch togglePush" id="{{_id}}" {{debug}} {{pushing}} data-toggle="toggle" data-onstyle="info">
			</div> -->
		</div>
		<hr>
	{{/each}}
	
	<div class="row">	
		<div class="col-md-12 animated zoomIn text-center card">
			{{#if isReady}}
				{{#if isMore}}
					<button id="infiniteCheck" class="btn btn-info">More</button>
				{{else}}
					<button class="btn btn-info done">Done</button>		
				{{/if}}
			{{else}}
				<button class="btn btn-info"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></button>		
				<span class="sr-only">Loading...</span>
			{{/if}}
		</div>
	</div>
		
</template>

<template name='subusers'> 
	<div class="row text-left">
		<div class="col-xs-12 fontlarger">
			Total users signed: {{userCount}}
		</div>
	</div>
	<hr/>
	<div class="row text-left fontlarger linkblue">
		<div class="col-xs-2 sort" id="userId">
			User
		</div>		
		<div class="col-xs-1">
			Avatar
		</div>	
		<div class="col-xs-3 sort" id="signed">
			Signed
		</div>		
		<div class="col-xs-3 sort" id="sent">
			Sent
		</div>
		<div class="col-xs-3 filter" id="pushing">
			{{filter}}
		</div>
	</div>
	<hr/>
	{{#each user}}
		<div class="row text-left">
			<div class="col-xs-2">
				<div class="animated fadeInUp  ">	
					<a class="linkblue fontlarge" href="/user/{{username}}">{{username}}</a><br/>
					{{userId}}<br/>
					Devices: {{tokenLength}}
				</div>
			</div>		
			<div class="col-xs-1">
				<img class="img100 maxwidth100" src="{{profile.avatar}}" />
			</div>	
			<div class="col-xs-3">
				Since: <code>{{date}}</code><br/>
				Ref: <code>{{referrer}}</code><br/>
				At the time of sign:<br/>
				{{#with details}}
					ip <code>{{ip}}</code><br/>
					City <code>{{city}}</code><br/>
					Region <code>{{region}}</code><br/>
					Country <code>{{country}}</code><br/>
					Visited pages <code>{{pageCountAcrossAllVisits}}</code><br/>
					Pages last visit <code>{{pageCountForThisVisit}}</code><br/>
					Visits <code>{{visitCount}}</code><br/>
				{{/with}}
			</div>		
			<div class="col-xs-3">
				Sent: <code>{{sentAt}}</code><br/>
				Latest: <code>{{msg.notification.title}}</code><br/>
				<code>{{msg.notification.body}}</code>
				
			</div>
			<div class="col-xs-3">
				<input type="checkbox" class="toggleSwitch togglePush" id="{{_id}}" {{pushing}} data-toggle="toggle" data-onstyle="info">
				<br/><br/>
				<div class="button btn btn-info pushmessage">Message</div>
				<br/><br/>
				<div class="button btn btn-danger remove">Remove</div>
			</div>
		</div>
		<hr>
	{{/each}}
	
	<div class="row">	
		<div class="col-md-12 animated zoomIn text-center card">
			{{#if isReady}}
				{{#if isMore}}
					<button id="infiniteCheck" class="btn btn-info">More</button>
				{{else}}
					<button class="btn btn-info done">Done</button>		
				{{/if}}
			{{else}}
				<button class="btn btn-info"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></button>		
				<span class="sr-only">Loading...</span>
			{{/if}}
		</div>
	</div>
		
</template>

<template name='adopters'> 

	<div class="row text-left">
		<div class="col-xs-4 fontlarger">
			Total users: {{userCount}}
		</div>		
	</div>
	
	{{#each user}}
		<div class="row text-left">
			<div class="col-xs-4">
				<div class="animated fadeInUp fontlarger">	
					{{name}}<br/>
					{{createdAt}}
				</div>
			</div>		
			<div class="col-xs-4">
				Email: <code>{{email}}</code><br/>
				City <code>{{city}}</code><br/>
				Country: <code>{{country}}</code><br/>
				Ref: <code>{{referrer}}</code><br/>
			</div>		
		</div>
		<hr>
	{{/each}}
	
	<div class="row">	
		<div class="col-md-12 animated zoomIn text-center card">
			{{#if isReady}}
				{{#if isMore}}
					<button id="infiniteCheck" class="btn btn-info">More</button>
				{{else}}
					<button class="btn btn-info done">Done</button>		
				{{/if}}
			{{else}}
				<button class="btn btn-info"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></button>		
				<span class="sr-only">Loading...</span>
			{{/if}}
		</div>
	</div>
		
</template>

<template name='conversations'> 

	<div class="row text-left">
		<div class="col-xs-4 fontlarger">
			Total lines: {{userLines}}
		</div>		
	</div>
	
	{{#if currentUser}}
		{{#each conversations}}
			<div class="row text-left">
				<div class="col-xs-3">
					<div class="animated fadeInUp fontlarger">	
						{{name}} {{context.person}}<br/>		
						{{createdAt}}
					</div>
				</div>		
				<div class="col-xs-4">
					in: <code>{{input.text}}</code><br/>			
					{{#each output.text}}
						out watson <code>{{this}}</code><br/>
					{{/each}}
					{{#if search}}
						out search: <code>{{search.title}}</code><br/>
					{{/if}}					
				</div>					
				<div class="col-xs-3">
					nonwatson: <code>{{nonwatson}}</code><br/>
					{{#each intents}}
						intent <code>{{intent}}</code><br/>
						confidence <code>{{confidence}}</code><br/>
					{{/each}}				
					external <code>{{external}}</code><br/>
					negative <code>{{negative}}</code><br/>
					search.description <code>{{search.description}}</code>
				</div>						
				<div class="col-xs-2">
					<button class="remove button btn btn-inforemove">Remove</button>	
				</div>		
			</div>
			<hr>
		{{/each}}	
	{{else}}
		{{#each users}}
			<div class="row text-left">
				<div class="col-xs-4">
					<div class="animated fadeInUp fontlarger">	
						{{name}} {{context.person}} <br/>
						<a href="?get=conversation&userId={{userId}}">{{userId}}</a><br/>
						<code>{{createdAt}}</code>
					</div>
				</div>		
				<div class="col-xs-4">
					in: <code>{{input.text}}</code><br/>
					{{#each intents}}
						intent <code>{{intent}}</code><br/>
						confidence <code>{{confidence}}</code><br/>
					{{/each}}				
					{{#each output.text}}
						out <code>{{this}}</code><br/>
					{{/each}}
				</div>		
			</div>
			<hr>
		{{/each}}
	{{/if}}
	
	<div class="row">	
		<div class="col-md-12 animated zoomIn text-center card">
			{{#if isReady}}
				{{#if isMore}}
					<button id="infiniteCheck" class="btn btn-info">More</button>
				{{else}}
					<button class="btn btn-info done">Done</button>		
				{{/if}}
			{{else}}
				<button class="btn btn-info"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></button>		
				<span class="sr-only">Loading...</span>
			{{/if}}
		</div>
	</div>
		
</template>

<template name='conversation'> 

	<div class="row text-left">
		<div class="col-xs-4 fontlarger">
			Total lines: {{userLines}}
		</div>		
	</div>
	

	
	<div class="row">	
		<div class="col-md-12 animated zoomIn text-center card">
			{{#if isReady}}
				{{#if isMore}}
					<button id="infiniteCheck" class="btn btn-info">More</button>
				{{else}}
					<button class="btn btn-info done">Done</button>		
				{{/if}}
			{{else}}
				<button class="btn btn-info"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></button>		
				<span class="sr-only">Loading...</span>
			{{/if}}
		</div>
	</div>
		
</template>

<template name='allusers'> 
<!-- 	<div class="row h4 animated fadeInUp linkwhite fontlarge">
		<div class="col-xs-8">
			<input type="text" id="username" label="username" name="username" class="form-control" value="{{text}}"> 
		</div>
		<div class="col-xs-2">
			<button class="submit button btn btn-small">Add</button>
		</div>
	</div> -->
	<div class="row text-left">
		<div class="col-xs-4 fontlarger">
			Total users: {{userCount}}
		</div>		
<!-- 		<div class="col-xs-4 fontlarger">
			Show testers: <input type="checkbox" name="showTesters" id="showTesters" />
		</div>		
		<div class="col-xs-4 fontlarger">
			Show Pro: <input type="checkbox" name="showPro" id="showTesters"   />
		</div> -->
	</div>
	
	{{#each user}}
		<div class="row text-left">
			<div class="col-xs-12">
				<div class="animated fadeInUp  fontlarge">	
					<a class="linkblue" href="/user/{{username}}">{{username}}</a><br/>
					{{profile.firstName}} {{profile.lastName}}
				</div>
			</div>		
			<div class="col-xs-2">
				<img class="img100 maxwidth100" src="{{profile.avatar}}" />
				{{#each userservices}}
					<img class="img100 maxwidth100" src="{{serviceAvatar}}" alt="no {{service}} avatar" title="{{service}}"/>
					<br/>
				{{/each}}
			</div>	
			<div class="col-xs-4">
				Email: <code>{{emails.[0].address}}</code><br/>
				Ref from: <code>{{profile.referred.ref}}</code><br/>
				Mailchimp: <code>{{profile.mailchimp.date}}</code><br/>
				Plan:
<!-- 				{{#if subscribed}} -->
					<span class="label label-info">{{prouser.type}}</span>
<!-- 				{{else}}
					<i class="fa fa-spinner fa-spin fa-fw"></i>
					<span class="sr-only">Loading...</span>				
				{{/if}} -->
				<br/>
				Team: 
				{{#each teamUser}}
					<span class="label teamuser label-info">{{this}}</span>&nbsp;
				{{/each}}
				<br/>
				Role: <span class="label label-info">{{roles}}</span>
				<br/>
				{{#each userservices}}
					<hr>
					<span class="linkblue">{{service}}</span> <span class="label label-info"><a href="{{value.link}}" target=_blank>{{value.name}}</a></span> 
					<span class="label label-info">{{value.email}}</span> 
					{{#if value.role}}service role: <span class="label label-info">{{value.role}}</span>	{{/if}}<br/>		
					{{#if value.messenger}}messenger: <span class="label label-info pointer fbmessenger">FB messenger</span>	{{/if}}<br/>	
				{{/each}}
			</div>		
			<div class="col-xs-2">
				{{#if prouser}}
					Pro.logo: 
					<img class="img100" src="{{prouser.logo}}" alt="{{prouser.type}}"  />
				{{/if}}
			</div>
			<div class="col-xs-2">
				Since <code>{{date}}</code><br/>
				Last: <code>{{lastVisit}}</code><br/>
				{{#each profile.count}}
					{{type}}: <code>{{number}}</code><br/>
				{{/each}}
				
			</div>
			<div class="col-xs-2">
				<button class="toggleTester button btn btn-small">add/remove to testers</button><br/><br/>
				<button class="togglePro button btn btn-small">add/remove to Pro</button>
			</div>
		</div>
		<hr>
	{{/each}}
	
	<div class="row">	
		<div class="col-md-12 animated zoomIn text-center card">
			{{#if isReady}}
				{{#if isMore}}
					<button id="infiniteCheck" class="btn btn-info">More</button>
				{{else}}
					<button class="btn btn-info done">Done</button>		
				{{/if}}
			{{else}}
				<button class="btn btn-info"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></button>		
				<span class="sr-only">Loading...</span>
			{{/if}}
		</div>
	</div>
		
</template>

<template name='mailchimp'> 
	<div class="row text-left">
		<div class="col-xs-4 fontlarger">
			<div>Total users: {{userCount}}</div>
			<div class="btn btn-info button withTours">Show with tours</div>
			<div class="btn btn-info button withNoPublishes">Show with NONpublished tours</div>			
			<div class="btn btn-info button withNoPanos">Show with NO panos</div>			
			<div class="btn btn-info button saveFile">Save to csv file</div>			
		</div>		
	</div>

	<div class="row text-left">
		<div class="col-xs-12">
			Username, Email Address, First Name, Last Name
		</div>		
	</div>
		
	{{#each user}}
		<div class="row text-left">
			<div class="col-xs-8">
				{{username}}, {{emails.[0].address}}, {{profile.firstName}}, {{profile.lastName}}
			</div>					
			<div class="col-xs-4">
				{{#each profile.count}}
					{{type}}: <code>{{number}}</code> 
				{{/each}}
			</div>		
		</div>
	{{/each}}
		
</template>

<template name='prousers'>
	<div class="row h4 animated fadeInUp linkwhite fontlarge">
		<div class="col-xs-8">
			<input type="text" id="addpro" label="username" name="username" class="form-control" value="{{text}}"> 
		</div>
		<div class="col-xs-2">
			<button class="submit button btn btn-small">Add</button>
		</div>
	</div>
	
	{{#each pro}}
		<div class="row text-left">
			<div class="col-xs-2">
				<div class="animated fadeInUp linkwhite fontlarge">	
					{{userdata.username}}<br/>
				</div>
			</div>		
			<div class="col-xs-2">
				Team: 
				{{#each teamUser}}
					<span class="teamuser">{{this}}</span>&nbsp;
				{{/each}}
			</div>
			<div class="col-xs-2">
				<img class="img100" src="{{logo}}" />
			</div>
			<div class="col-xs-4">
				Since {{createdAt}}<br/>
				Expire {{expire}}
			</div>
			<div class="col-xs-2">
				<button class="remove button btn btn-small">Remove</button>
			</div>
		</div>
	{{/each}}
</template>

<template name='testusers'>
	<div class="row h4 animated fadeInUp linkwhite fontlarge">
		<div class="col-xs-8">
			<input type="text" id="username" label="username" name="username" class="form-control" value="{{text}}"> 
		</div>
		<div class="col-xs-2">
			<button class="submit button btn btn-small">Add</button>
		</div>
	</div>
	
	{{#each user}}
		<div class="row text-left">
			<div class="col-xs-2">
				<div class="animated fadeInUp linkwhite fontlarge">	
					{{username}}<br/>
				</div>
			</div>		
			<div class="col-xs-2">
				Team: 
				{{#each teamUser}}
					<span class="teamuser">{{this}}</span>&nbsp;
				{{/each}}
			</div>
			<div class="col-xs-2">
				<img class="img100" src="{{logo}}" />
			</div>
			<div class="col-xs-4">
				Since {{createdAt}}<br/>
			</div>
			<div class="col-xs-2">
				<button class="remove button btn btn-small">Remove</button>
			</div>
		</div>
	{{/each}}
</template>

<template name='adminusers'>
	<div class="row h4 animated fadeInUp linkwhite fontlarge">
		<div class="col-xs-8">
			<input type="text" id="addadmin" label="username" name="username" class="form-control" value="{{text}}"> 
		</div>
		<div class="col-xs-2">
			<button class="submit button btn btn-small">Add</button>
		</div>
	</div>
	
	{{#each admin}}
		<div class="row text-left">
			<div class="col-xs-2">
				<div class="animated fadeInUp linkwhite fontlarge">	
					{{username}}<br/>
				</div>
			</div>		
			<div class="col-xs-2">
				Email: 
				{{#each emails}}
					<span class="teamuser">{{address}}</span>&nbsp;<br/>
					Verified: <span class="teamuser">{{verified}}</span>&nbsp;
				{{/each}}
			</div>
			<div class="col-xs-2">
<!-- 				Roles: 
				{{#with roles}}
					<span class="teamuser">
						{{adm-group}}
					</span>&nbsp;
				{{/with}} -->
			</div>
			<div class="col-xs-2">
				<img class="img100" src="{{profile.avatar}}" />
			</div>
			<div class="col-xs-2">
				Since {{createdAt}}<br/>
			</div>
			<div class="col-xs-2">
				<button class="removeadm button btn btn-small">Remove</button>
			</div>
		</div>
	{{/each}}
</template>

<template name="emailTemplates">

		<div class="col-md-8 col-md-offset-2">
			<h4 class="brand-heading text-center">Email templates</h4>
		</div>
		<br/><br/><br/>

		<div class="row">		
			<div class="col-md-8 col-md-offset-2">	
				{{#if editRecord}}
					{{#if $eq editRecord 'new'}}						
						{{> quickForm collection="EmailsTmpl" type="insert" id="insertEmails"
							template="bootstrap3-inline" label=false label-class="hidden" afFieldInput-placeholder="schemaLabel" }}
						{{#each dataEmails}}

						{{/each}}
					{{else}}

<!-- 						{{> quickForm collection="Markers" type="insert" advanced="yes" id="insertMarkers"
							template="bootstrap3-horizontal" afFieldInput-placeholder="schemaLabel" }} -->
<!-- 						{{#autoForm collection="Emails" type="insert" id="updateEmails" template="bootstrap3-horizontal" afFieldInput-placeholder="schemaLabel"}}
							<fieldset>
								{{> afQuickField name="business"}}
								{{> afQuickField name="title"}}
								<legend>Add a Marker</legend>
								{{> afQuickField name='marker'}}
								{{> afQuickField name="fset"}}								
								{{> afQuickField name="fset3"}}								
								{{> afQuickField name="iset"}}
								{{> afQuickField name="model"}}
							</fieldset>
							<button class="close cancel btn btn-primary">Cancel</button> <button type="submit" class="btn btn-primary">Insert</button>
						{{/autoForm}} -->
					{{/if}}
				{{else}}
					<button id="newRecord" class="button btn btn-info newRecord">New Email</button>
				{{/if}}
			</div>
		</div>
		<br/><br/>				
		
		{{#each emails}}
			<div id="{{_id}}" class="row text-left ">		
				{{#if $eq editRecord _id}}
					<div class="col-xs-12">	
						{{> quickForm collection="EmailsTmpl" doc=this type="update" id="updateEmails"
								template="bootstrap3-inline" label=false label-class="hidden" afFieldInput-placeholder="schemaLabel" }}
						<button class="remove button btn btn-inforemove">Remove</button>
					</div>
				{{/if}}
			{{#unless editRecord}}
				<div id="{{_id}}" class="col-xs-2 editRecord pointer linkblue">
					<span class="h3">{{id}}</span>&nbsp;
				</div>
				<div class="col-xs-2">
					<span class=" h3">{{subject}}</span>&nbsp;
				</div>
				<div class="col-xs-8">
					{{{text}}}
				</div>
			{{/unless}}
			</div>	
		{{/each}}

</template>

<template name='soundsLibrary'>
	<div class="row">	
		<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 animated zoomIn text-left">
			<!-- {{> quickForm collection="Sounds" schema=Schemas.Sounds class="main form page btn-rxs" id="insertFilesForm" type="insert" }} -->
			{{#autoForm collection="Sounds" template="bootstrap3-inline" afFieldInput-placeholder="schemaLabel" schema=Schemas.Sounds class="main form page btn-rxs" id="insertFilesForm" type="insert"}}
			
				<div class="form-group">
					<div class="row">	
<!-- 						<div class="col-xs-4">
							{{> afFieldInput name="title" class="form-control" value=file.original.name}}
						</div> -->
						<div class="col-xs-12 text-center">
							{{> afFieldInput name="library" value=true}}
						</div>
						<div class="col-xs-5 text-center">
							{{> afFieldInput name="file"}}
						</div>
						<div class="col-xs-4 text-center">
							{{> afFieldInput name="tags"}}
						</div>
						<div class="col-xs-3">
							{{#if afFieldValueIs name="file"}}
								<button type="submit" class="btn btn-primary">Insert</button>
							{{/if}}
						</div>
					</div>
				</div>
			{{/autoForm}}
		</div>
	</div>
	<div class="row">	
		<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 animated zoomIn text-left">	
			{{>quickForm template="bootstrap3-inline" afFieldInput-placeholder="schemaLabel" schema=schema class="main form page btn-rxs" id="insertFilesServerForm"  type="method" meteormethod="sound.server.add"}}
<!-- 			{{#autoForm collection=collection id="insertFilesForm" afFieldInput-placeholder="schemaLabel" type="insert"}}
				<fieldset>
					{{> afQuickField name='url' advanced=false autosave=true button=false label=false}}
					{{#if url}} 
						<button type="submit" class="btn btn-block btn-default">OK</button>
					{{/if}}
				</fieldset>
			{{/autoForm}}	 -->
		</div>
	</div>
	<div class="row">
		<!-- <div class="col-xs-4 col-sm-3 col-md-2"> -->
<!-- 		<div class="col-md-12 animated zoomIn">
			{{> addpano}}
		</div> -->
		
			<div class="col-md-12 animated zoomIn text-left fontsmaller">
				Sorted by {{sorted}}
				{{#if selectUsed}}
					<span class="animated fadeIn"> | Shown unused sounds ONLY</span>
				{{/if}}
			</div>			
			<div class="col-md-12 animated zoomIn text-left">
				{{#if selectTag}}
					shown only 
					{{#each selectTag}}
						<span class="{{this}} label label-info tag removeTag	 pointer linkblue"  id="{{this}}">{{this}}</span>&nbsp;
					{{/each}}
				{{/if}}
			</div>
	</div>
<!-- 	{{#navybitsPagination perPage=18 limitIncrease=6 data=panos}}
			<div class="col-xs-4 col-sm-3 col-md-2 animated zoomIn">
				<img src="/img/loading.gif" realsrc="{{dataImg}}" id="{{_id}}" alt="{{file}}" title="{{file}}" class="pointer img-responsive viewPano img100 animated zoomIn {{gray}}" />
				{{file}}<br/>
				<button class="remove btn btn-block btn-default">Remove</button><br/>
			</div>	
	{{/navybitsPagination}} -->
	<div class="row">	
		{{#each sounds}}	
						
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 animated zoomIn min-height100">
				{{#if subscribeFile}}
					<div>
						<a href="{{localfile.link}}" target=_blank>{{title}}</a>
					</div>
					<div>
						
							<!-- {{localfile.path}} -->
							<audio height="auto" controls="controls" preload="metadata"	>
								<source src="{{localfile.link}}?play=true" type="{{localfile.type}}" />
								<!-- Same as: -->
								<!-- <source src="{{fileURL videoFile}}?play=true" type="{{videoFile.type}}" /> -->
							</audio>
						
					</div>
					<div>
						{{#each tags}}
							<span class="label label-info tag selectTag pointer linkblue {{this}}" id="{{this}}">{{this}}</span> &nbsp;
						{{/each}}
					</div>
				<button class="remove btn btn-block btn-default">Remove</button><br/>
				{{/if}}
			</div>				
		
		{{/each}}
	</div>
	{{#unless sounds}}
		<div>Sounds are coming soon</div>
	{{/unless}}	

	<div class="row">	
		<div class="col-md-12 animated zoomIn text-center card">
			{{#if isReady}}
				{{#if isMore}}
					<button id="infiniteCheck" class="btn btn-info">More</button>
				{{else}}
					<button class="btn btn-info done">Done</button>		
				{{/if}}
			{{else}}
				<button class="btn btn-info"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></button>		
				<span class="sr-only">Loading...</span>
			{{/if}}
		</div>
	</div>
</template>

<template name='integration'> 	
	<div class="row text-left">
		<div class="col-xs-12">
			3rd party libraries:
		</div>
	</div>
	{{#each libraries}}
		<div class="row text-left">
			<div class="col-xs-4">
				<a href="{{link}}">{{type}}</a>
			</div>	
			<div class="col-xs-4">
				<input type="checkbox" class="toggleSwitch enableLib" id="{{id}}" {{enabled}} data-toggle="toggle" data-onstyle="info" data-width="50" data-height="25" >
			</div>					
			<div class="col-xs-4">
				{{createdAt}}
			</div>		
		</div>
		<hr>
	{{/each}}		
</template>

<template name='verrors'> 	
	<div class="row text-left">
		<div class="col-xs-12">
			Errors:
		</div>
	</div>
	{{#each verrors}}
		<div class="row text-left">
			<div class="col-xs-3">
				{{createdAt}}<br/>
				<button type="button" class="btn btn-danger delete" data-dismiss="modal">Del</button> 
			</div>				
			<div class="col-xs-3">
				{{userId}} / {{username}}<br/>{{navigator.userAgent}}<br/>{{navigator.appVersion}}
			</div>	
			<div class="col-xs-6">
				{{reason}} / {{cause}} / {{desc}} <br/>
				error: {{error.description}} / {{error.stack}}
			</div>					
		</div>
		<hr>
	{{/each}}		
</template>

