<template name="coming">
<!--                             <br>Created by Yana Artis. -->
	<!-- Intro Header -->


	<header class="intro  animated fadeIn">
		<div class="intro-body">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="brand-heading">That feature is coming soon</h1>
						<p class="intro-text">Please sign up for the future beta</p>
						<a href="/#contact" id="about" class="btn btn-circle page-scroll">
							<i class="fa fa-angle-double-down animated"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>
	
</template>
