<template name="faq">

	<section id="menupick" class="container-fluid content-section text-center  animated fadeInLeft menupick topsection">
		<div class="row">
			<div id="faqtext" class="pointer linkblue col-xs-3 col-sm-3 col-sm-3 col-md-2 col-md-offset-2 ">
				Topics
			</div>
<!-- 			<div class="pointer col-xs-3 col-sm-3 col-md-2 h4 brand-heading soon">
				Often asked
			</div>
			<div class="pointer col-xs-3 col-sm-3 col-md-2 h4 brand-heading soon">
				Often answered
			</div> -->
			<div id="faqvideo" class="pointer linkblue col-xs-3 col-sm-3 col-md-2 ">
				Video
			</div>					
			<div id="faqstatus" class="pointer linkblue col-xs-3 col-sm-3 col-md-2 ">
				Status
			</div>			
			<div class="pointer linkblue col-xs-3 col-sm-3 col-md-2 askFaq">
				Question?
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				&nbsp;<br/>
			</div>
		</div>
	</section>
	<section class="container-fluid animated fadeIn">
		{{#if $eq selector 'faqtext'}}	
			{{> faqtext}}
		{{/if}}	
		{{#if $eq selector 'faqvideo'}}	
			{{> faqvideo}}
		{{/if}}	
		{{#if $eq selector 'faqstatus'}}	
			{{> faqstatus}}
		{{/if}}	
	</section>	
</template>

<template name="faqtext">
	{{#each faq}}
		<div class="row {{grayscale}}">		
			<div class="col-md-10 col-md-offset-2 h2 {{ifHidden}} text-left pointer" id="{{title}}">
				<a href="?get={{title}}">{{title}}	</a>
			</div>
		</div>
		{{#if $eq selector title}}			
			<div class="row {{grayscale}} animated fadeIn">				
				{{#if $eq editselector _id}}		
					<div class="col-md-10 col-md-offset-2 {{ifHidden}} text-left">
						{{> quickForm collection="Faq" doc=this type="update" id="updateFaqForm" 	
										label=false label-class="hidden" afFieldInput-placeholder="schemaLabel" }}
					</div>
				{{else}}						
					<div class="col-sm-4 col-md-4 col-md-offset-2 h3 {{ifHidden}} text-left">
						{{question}}				
					</div>		
					<div class="col-sm-8 col-md-6 {{ifHidden}} h4 text-left ">
						{{{answer}}}				
					</div>
				{{/if}}
				{{#if isAdmin}}	
					<div class="col-md-10 col-md-offset-2 {{ifHidden}} text-left">	
						published: {{ifpublished}}
						<button id="{{_id}}" class="button btn btn-info editselector">edit</button>
						<button id="{{_id}}" class="button btn btn-danger removeselector">remove</button>
					</div>	
				{{/if}}
			</div>
		{{/if}}	
		<hr>
	{{/each}}		
	
	<div class="row">
		<div class="col-md-12">
			{{#if $eq editselector "newFaq"}}		
				{{> quickForm collection="Faq" type="insert" id="insertFaqForm" label=false label-class="hidden" afFieldInput-placeholder="schemaLabel" }}				
			{{else}}
				{{#if isAdmin}}		
					<button id="newFaq" class="button btn btn-info editselector">new</button>
				{{/if}}
			{{/if}}
		</div>
	</div>
</template>

<template name="faqvideo">
	{{#each faq}}
		<div class="row {{grayscale}}">		
			<div class="col-md-10 col-md-offset-2 h2 {{ifHidden}} text-left pointer" id="{{title}}">
				<a href="?get={{title}}">{{title}}	</a>
			</div>
		</div>
		{{#if $eq selector title}}			
			<div class="row {{grayscale}} animated fadeIn">				
				{{#if $eq editselector _id}}		
					<div class="col-md-10 col-md-offset-2 {{ifHidden}} text-left">
						{{> quickForm collection="Faq" doc=this type="update" id="updateFaqForm" 	
										label=false label-class="hidden" afFieldInput-placeholder="schemaLabel" }}
					</div>
				{{else}}						
					<div class="col-sm-4 col-md-4 col-md-offset-2 h3 {{ifHidden}} text-left">
						{{question}}				
						<br/><br/>
						<span class="h4">{{{answer}}}</span>
					</div>		
					<div class="col-sm-8 col-md-6 {{ifHidden}} h4 text-left ">
						<div class="intrinsic-container intrinsic-container-16x9">
							{{{video}}}
						</div>
					</div>
				{{/if}}
				{{#if isAdmin}}	
					<div class="col-md-10 col-md-offset-2 {{ifHidden}} text-left">	
						published: {{ifpublished}}
						<button id="{{_id}}" class="button btn btn-info editselector">edit</button>
						<button id="{{_id}}" class="button btn btn-danger removeselector">remove</button>
					</div>	
				{{/if}}
			</div>
		{{/if}}	
		<hr>
	{{/each}}		
	
	<div class="row">
		<div class="col-md-12">
			{{#if $eq editselector "newItem"}}		
				{{> quickForm collection="Faq" type="insert" id="insertFaqForm" label=false label-class="hidden" afFieldInput-placeholder="schemaLabel" }}				
			{{else}}
				{{#if isAdmin}}		
					<button id="newItem" class="button btn btn-info editselector">new</button>
				{{/if}}
			{{/if}}
		</div>
	</div>

</template>

<template name="faqstatus">
	
	<div class="row {{grayscale}}">		
		<div class="col-md-8 col-md-offset-2 h2 text-left " id="{{title}}">
			<input type="checkbox" class="toggleSwitch twitterStatus" data-toggle="toggle" data-onstyle="info" >
			{{#unless loaded}}
				coming soon
			{{/unless}}
		</div>
<!-- 		<button id="notifyMe">Notify me!</button> -->
	</div>
	
	{{#each twitter}}
		<div class="row ">		
			<div class="col-md-6 col-md-offset-2 {{ifHidden}} text-left " id="{{title}}">
				<div><a href="https://twitter.com/VirGO360VR/status/{{id_str}}" target=_blank>{{text}}</a></div>
				<div class="?" >
					{{#each entities.hashtags}}<span class="label label-warning">{{text}}</span> {{/each}}
				</div>
			</div>			
<!-- 			<div class="col-md-2">
				<img src="{{entities.media.[0].media_url}}"  class="img100"/>
				{{entities.media.[0].media_url}}
				<img src="{{entities.media.[0].media_url}}" alt="?" border="0" align="left" width="?" height="?" />
			</div> -->
		</div>
		<hr/>
	{{/each}}
</template>
