<template name="home">

	<header id="top" class="intro animated fadeIn">
		<div class="intro-body">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
						Test
					</div>
				</div>
			</div>
		</div>
	</header>

</template>
