<template name="print">

	<section id="tour" class="container content-section text-center">
		<div class="col-md-8 col-md-offset-2">
			<h4 class="brand-heading">title {{tour.title}}</h4>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-left">
<!-- 				<button class="export-data btn btn-success" data-loading-text="Exporting...">Export Data</button> -->
				<a class="export-data" href="export/{{tourId}}.json">Export {{tour.title}} ({{tour.id}})</a>
			</div>
		</div>
		{{>helper}}
<!-- 		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-left">
				<pre class="tours">{{json2}}</pre>
			</div>
		</div> -->
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-left">
				<pre class="tours">{{json2html tour}}</pre>
			</div>
		</div>

	</section>

</template>

<template name="printshows">

	<section id="tour" class="container content-section text-center">
		<div class="col-md-8 col-md-offset-2">
			<h4 class="brand-heading">Tours</h4>
		</div>
		{{>helper}}
		{{#each tours}}
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-left">
					<pre class="tours">{{id}} {{json2html this}}</pre>
				</div>
			</div>
		{{/each}}

	</section>

</template>

<template name="printreal">

	<section id="tour" class="container content-section text-center">
		<div class="col-md-8 col-md-offset-2">
			<h4 class="brand-heading">Tours</h4>
		</div>
		{{#unless tours}}
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-left">
					<pre class="tours">No active masters yet</pre>
				</div>
			</div>		
		{{/unless}}
		{{>helper}}
		{{#each tours}}
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-left">
					<pre class="tours">{{id}} {{json2html this}}</pre>
				</div>
			</div>
		{{/each}}

	</section>

</template>

<template name="printpublictours">

	<section id="tour" class="container content-section text-center">
		<div class="col-md-8 col-md-offset-2">
			<h4 class="brand-heading">Tours</h4>
		</div>
		{{#unless tours}}
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-left">
					<pre class="tours">No tours yet</pre>
				</div>
			</div>		
		{{/unless}}
		{{>helper}}
		{{#each tours}}
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-left">
					<pre class="tours">{{id}} {{json2html this}}</pre>
				</div>
			</div>
		{{/each}}

	</section>

</template>

<template name="printusertours">

	<section id="tour" class="container content-section text-center">
		<div class="col-md-8 col-md-offset-2">
			<h4 class="brand-heading">Tours</h4>
		</div>
		{{#unless tours}}
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-left">
					<pre class="tours">No tours yet</pre>
				</div>
			</div>		
		{{/unless}}
		{{>helper}}
		{{#each tours}}
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-left">
					<pre class="tours">{{id}} {{json2html this}}</pre>
				</div>
			</div>
		{{/each}}

	</section>

</template>

<template name="helper">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 text-left">
				<pre class="tours">
Show tours
http://{{host}}/show'	shows all public tours for all users
http://{{host}}/show?usertours=username'	shows all tours for username
http://{{host}}/show?worldtours=all'	shows all public tours for all users
http://{{host}}/show?worldtours=username'	shows all public tours for user

Show tour
http://{{host}}/print/tourname'	shows the tour
http://{{host}}/print/tourname?print=yes'	and exports immediately

Show active tours
http://{{host}}/show?active=yes'	shows all active tours where somebody is showing 
http://{{host}}/show?active=yes&master=username'	shows the tours where user is showing
http://{{host}}/show?active=yes&user=username'	shows the tours where user is watching
http://{{host}}/show?active=yes&user=username&print=yes' and exports immediately

To save a file
&print=yes to any url

To construct the image path:
http://&lt;&lt;cloudPath&gt;&gt;&lt;&lt;cloudFolder&gt;&gt;&lt;&lt;panorama.cloud&gt;&gt;
to construct the preview path:
http://&lt;&lt;cloudPath&gt;&gt;&lt;&lt;cloudPreview&gt;&gt;&lt;&lt;cloudFolder&gt;&gt;&lt;&lt;panorama.cloud&gt;&gt;
				</pre>
			</div>
		</div>
</template>