<template name="profile">

	<section id="profile" class="container-fluid topsection text-left profile animated fadeIn">
	
		{{#unless mobile}}
		<div class="row">	
			<div class="col-xs-4 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-2 fontsmaller" > 
				<div class="hovercard">
					<div class="avatar pointer img100">
						{{#with userProfile}}		
							<img alt="360 Panoramic Virtual Author: {{username}}" src="{{avaurl}}" class="img100">						
						{{/with}}
					</div>		
				</div>
				<div class="pointer selector linkblue h3" id="userprofile"> 
					Profile
				</div>				
				<div class="pointer selector linkblue h3" id="settings"> 
					Settings
				</div>
				<div class="pointer selector linkblue h3" id="proprofile"> 
					Pro logo
				</div>
				<div class="pointer selector linkblue h3 soon" id="connectSocial"> 
					Connect social accounts
				</div>
				<div class="pointer selector linkblue h3" id="changePwd"> 
					Change password
				</div>
			</div>

			<div class="col-xs-8 col-sm-8 col-md-7 col-lg-offset-1 col-lg-5"> 		
			
				{{#with userProfile}}			
					{{#with pro}}
						<div class="h4">Plan: <span class="uppercase">{{type}}</span></div>			
						{{#with billing.subscription}}
							<div class="h4">Price: <span class="uppercase">${{plan.amount}}</span></div>	
							<div class="h4 fontsmaller">Subscription period ends: {{current_period_end}}</div>	
							{{#if discount}}
								<div class="h4">Discount: <span class="uppercase">${{discount.coupon.amount_off}}</span></div>	
								<div class="h4 fontsmaller">Discount ends: {{discount.end}}</div>	
							{{/if}}
							<div class="h4"><button class="btn btn-danger cancel" data-dismiss="modal">Cancel</button></div>
						{{/with}}
						<div class="h4">Max File Size: {{maxsize}}MB</div>										
						<!-- <div class="h4">Expiration: {{expire}}</div> -->
						
					{{else}}
						<div class="h4">Plan: <span class="uppercase">Starter</span></div>		
					{{/with}}
				{{/with}}
				<br/><br/>
						
				{{#if $eq selector 'userprofile'}}	
					{{#with userProfile}}			
						{{> userprofile}}
					{{/with}}
				{{/if}}
				
				{{#if $eq selector 'settings'}}	
					{{#with userProfile}}			
						{{> settings}}
					{{/with}}
				{{/if}}
								
				{{#if $eq selector 'proprofile'}}	
					{{#with userProfile}}			
						{{#with pro}}								
							{{#autoForm collection="ProUsers" doc=this id="prousersForm"  type="update" 
								template="bootstrap3-inline" label=false label-class="sr-only" afFieldInput-placeholder="schemaLabel"}}
								{{> afQuickField label=false label-class="sr-only" name='logo' }}
								<button type="submit" class="btn btn-default" data-dismiss="modal">Update</button>
							{{/autoForm}}		
						{{else}}
							<a href="/pricing">Upgrade</a> 
							to PRO and receive:
							{{{pricing.features}}}
						{{/with}}
					{{/with}}
				{{/if}}				

				{{#if $eq selector 'soon'}}	
					This feature is coming soon
				{{/if}}
				
				{{#if $eq selector 'changePwd'}}	
					{{> atForm state='changePwd'}}
				{{/if}}				
				
				{{#if $eq selector 'connectSocial'}}	
					{{> connectAccounts}}
				{{/if}}							
				
			</div>
		</div>
		{{else}}
			<div class="row fontsmaller">	
				<div class="col-xs-2" > 
					<div class="pointer selector linkblue" id="userplan"> 
						Plan
					</div>		
				</div>				
				<div class="col-xs-2" > 
					<div class="pointer selector linkblue" id="userprofile"> 
						Profile
					</div>		
				</div>
				<div class="col-xs-2" > 		
					<div class="pointer selector linkblue" id="settings"> 
						Settings
					</div>
				</div>
				<div class="col-xs-2" > 		
					<div class="pointer selector linkblue" id="proprofile"> 
						Pro logo
					</div>
				</div>
				<div class="col-xs-2" > 		
					<div class="pointer selector linkblue" id="connectSocial"> 
						Connect social accounts
					</div>
				</div>
				<div class="col-xs-2" > 		
					<div class="pointer selector linkblue" id="changePwd"> 
						Change password
					</div>
				</div>
			</div>
			<div class="row">	
					
					
				{{#if $eq selector 'userplan'}}	
					<div class="col-xs-4"> 	
						<div class="hovercard">
							<div class="avatar pointer img100">
								{{#with userProfile}}		
									<img alt="360 Panoramic Virtual Author: {{username}}" src="{{avaurl}}" class="img100">						
								{{/with}}
							</div>		
						</div>
					</div>
					<div class="col-xs-8"> 	
						{{#with userProfile}}			
							{{#with pro}}
								<div class="h4">Plan: <span class="uppercase">{{type}}</span></div>										
								<div class="h4">Max File Size: {{maxsize}}MB</div>										
								<div class="h4">Expiration: {{expire}}</div>
							{{else}}
								<div class="h4">Plan: <span class="uppercase">Starter</span></div>		
							{{/with}}
						{{/with}}
					</div>
				{{/if}}
			</div>
			<div class="row">	
				<div class="col-xs-12"> 	
					{{#if $eq selector 'userprofile'}}	
						{{#with userProfile}}			
							{{> userprofile}}
						{{/with}}
					{{/if}}
					
					{{#if $eq selector 'settings'}}	
						{{#with userProfile}}			
							{{> settings}}
						{{/with}}
					{{/if}}
									
					{{#if $eq selector 'proprofile'}}	
						{{#with userProfile}}			
							{{#with pro}}								
								{{#autoForm collection="ProUsers" doc=this id="prousersForm"  type="update" 
									template="bootstrap3-inline" label=false label-class="sr-only" afFieldInput-placeholder="schemaLabel"}}
									{{> afQuickField label=false label-class="sr-only" name='logo' }}
									<button type="submit" class="btn btn-default" data-dismiss="modal">Update</button>
								{{/autoForm}}		
							{{else}}
								<a href="/pricing">Upgrade</a> 
								to PRO and receive:
								{{{pricing.features}}}
							{{/with}}
						{{/with}}
					{{/if}}				

					{{#if $eq selector 'soon'}}	
						This feature is coming soon
					{{/if}}
					
					{{#if $eq selector 'changePwd'}}	
						{{> atForm state='changePwd'}}
					{{/if}}				
					
					{{#if $eq selector 'connectSocial'}}	
						{{> connectAccounts}}
					{{/if}}							
					
				</div>
			</div>		
		{{/unless}}

	</section>
	
</template>

<template name="userprofile">

	{{#autoForm collection="Meteor.users" doc=this id="profileForm" type="update"
		template="bootstrap3-inline" label=false label-class="sr-only" afFieldInput-placeholder="schemaLabel"}}
		{{> afQuickField label-class="sr-only" name='username'}}
		{{> afQuickField label=false label-class="sr-only" name='emails.0.address' autosave=true}}
		{{> afQuickField label=false label-class="sr-only" name='profile.firstName' autosave=true}}
		{{> afQuickField label=false label-class="sr-only" name='profile.lastName' autosave=true}}
		{{> afQuickField label=false label-class="sr-only" name='profile.description' autosave=true}}
		{{> afQuickField label=false label-class="sr-only" name='profile.website' autosave=true}}
		{{> afQuickField label=false label-class="sr-only" name='profile.organization' autosave=true}}
		{{> afQuickField label=false label-class="sr-only" name='profile.phone' autosave=true}}
		{{> afQuickField label=false label-class="sr-only" name='profile.twitter' autosave=true}}
		{{> afQuickField label=false label-class="sr-only" name='profile.facebook' autosave=true}}
		{{> afQuickField label=false label-class="sr-only" name='profile.city' autosave=true}}
		{{> afQuickField label=false label-class="sr-only" name='profile.country.name' autosave=true}}
		{{> afQuickField label=false label-class="sr-only" name='profile.avatar' autosave=true}}
		<button type="submit" class="btn btn-default" data-dismiss="modal">Update</button>
	{{/autoForm}}				
	
</template>

<template name="topprofile">
	<section id="profile" class="container-fluid topsection text-left profile animated fadeIn">
		<div class="row">
			<div class="card hovercard">
				<div class="cardheader">
				</div>			
				{{#with userProfile}}
					<div class="col-xs-4 col-md-3 col-md-offset-1">
						<br/>
						<div class="cardlogo text-left">								
							
							{{#if pro}}
								{{#with pro}}
									<span class="fontlarger uppercase">
										Pro user since {{sinceDate}}
									</span>
									{{#unless mobile}}
										<div class="">
											Max size upload: {{maxsize}}MB
										</div>	
										{{#if teamUser}}
											<div class="">
												Team: 
												{{#each teamUser}}
													<span class="blue">{{this}}</span>&nbsp;
												{{/each}}
											</div>
										{{/if}}
									{{/unless}}
								{{/with}}
								{{#unless mobile}}
									{{#with profile}}
										
										{{#if website}}
											<div class="">
												Site: <a href="{{website}}" target="_blank">{{website}} </a>
											</div>	
										{{/if}}
										{{#if organization}}
											<div class="">
												Company: {{organization}}
											</div>			
										{{/if}}
										{{#if phone}}
											<div class="">
												Phone: {{phone}}
											</div>		
										{{/if}}
									{{/with}}
								{{/unless}}
								<div class="">
									<a href="{{services.twitter.link}}" target="_blank"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a> 
									<a href="{{services.facebook.link}}" target="_blank"><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a>
								</div>		
							{{else}}
								<div class="fontlarge20 uppercase editPro">Free tier (as a beer)</div>
								{{#if author}}
									{{#unless mobile}}
										<br/><br/>
										<div>
											Max size upload: {{maxsize}}MB<br/>
											Become a PRO and have:
											<ul>
												<li>Twice larger panoramas</li>
												<li>Your own logo instead of Virgo 360</li>								
											</ul>
										</div>
									{{/unless}}
								{{/if}}
							{{/if}}
							{{#if teamlead}}
								<div>
									Team Lead: {{teamlead}}
								</div>
							{{/if}}
							
							<br/>
							<a class="linkblue editPro text-left " href="#">
								<img alt="" class="pointer editPro linkblue prologo img50" src="{{pro.logo}}">
							</a>
						</div>
					</div>
					<div class="col-xs-4 col-md-4">
						<div class="avatar pointer ">
							{{#if author}}
								<a class="linkblue" href="{{pathFor '/profile'}}">
									<img alt="360 Panoramic Virtual Author: {{username}}" class="editProfile" src="{{avaurl}}">
								</a>
							{{else}}
								<img alt="360 Panoramic Virtual Author: {{username}}" src="{{avaurl}}">
							{{/if}}
						</div>	
						<div class="info">
								<div class="title">
									{{#if author}}
										<a class="linkblue" href="{{pathFor '/profile'}}">
											{{#if profile.firstName}}
												{{profile.firstName}} {{profile.lastName}}
											{{else}}
												{{username}}
											{{/if}}
										</a>
									{{else}}
										{{#if profile.firstName}}
											{{profile.firstName}} {{profile.lastName}}
										{{else}}
											{{username}}
										{{/if}}									
									{{/if}}
								</div>
								<div class="desc">{{profile.description}}</div>
								<div class="desc">{{profile.city}}, {{profile.country.name}}</div>
						</div>						
					</div>
					<div class="col-xs-4 col-md-4 text-right">
						<br/>
						<div class="row">
							{{#unless mobile}}
								{{#if pro}}
									<div class="col-xs-6 text-right">
										<br/>
										Do you want to hire that professional? 
									</div>
									<div class="col-xs-6 text-left">
										<button class="btn btn-info soon" id="bookService">Hire</button> 
									</div>						
									<br/>
								{{/if}}
							{{/unless}}
							{{#if author}}
								<div class="col-xs-12 col-sm-10 col-sm-offset-2 text-center">
									<a href='/profile'><i class="fa fa-user pointer linkblue fontlarge48 editProfile"  aria-hidden="true" data-toggle="tooltip" title="Profile"></i></a> 
								</div>								
								<div class="col-xs-12 col-sm-10 col-sm-offset-2 text-center">
									<i class="fa fa-wrench pointer linkblue fontlarge48 profilesett" id="wrench" aria-hidden="true" data-toggle="tooltip" title="Settings"></i> 
								</div>
								<div class="col-xs-12 col-sm-10 col-sm-offset-2 text-center">
									<i class="fa fa-comments {{fa}} pointer linkblue fontlarge48 notifysett" id="notifications" aria-hidden="true" data-toggle="tooltip" title="Push notifications"></i> 
								</div>
							{{else}}
								{{debug}}
							{{/if}}
						</div>
					</div>
					{{#if author}}
						<div class="col-xs-12">
							Roles: {{roles}} 
							{{#unless roles}}
								Want to be a tester and have access to latest? <a href="/about?get=contact">Contact us</a>
							{{/unless}}
							
							{{#if isInRole 'tester,admin' 'adm-group'}}
								{{#unless mobile}}
									{{#if services.facebook}}
										{{#unless services.facebook.messenger}}
											<br/>
											To connect FB Messenger send us a message "<b>connect</b>" at <a href="https://www.facebook.com/VirGO360VR/messages" target=_blank>VirGO 360 page</a> 
											After you have Messenger connected you will be able to receive comments there.
										{{/unless}}
									{{/if}}
								{{/unless}}
							{{/if}}
						</div>			
					{{/if}}
					<div class="col-xs-12">
						<div class="_bottom">
							{{#if skype}}
								<a class="btn btn-primary btn-twitter btn-sm" href="{{skype}}">
										<i class="fa fa-twitter"></i>
								</a>
							{{/if}}
							{{#if googleplus}}
								<a class="btn btn-danger btn-sm" rel="publisher" href="{{googleplus}}">
										<i class="fa fa-google-plus"></i>
								</a>
							{{/if}}
							{{#if facebook}}
								<a class="btn btn-primary btn-sm" rel="publisher" href="{{facebook}}">
										<i class="fa fa-facebook"></i>
								</a>
							{{/if}}
<!-- 									<a class="btn btn-warning btn-sm" rel="publisher" href="{{twitter}}">
										<i class="fa fa-twitter"></i>
								</a> -->
						</div>
					</div>
<!-- 							<div class="row">
								<div class="col-md-4">
									<div class="title">
										<a href="#" class="editProfile">
											{{#if profile.firstName}}
												{{profile.firstName}} {{profile.lastName}}
											{{else}}
												{{username}}
											{{/if}}
										</a>
									</div>
									<div class="desc">{{profile.description}}</div>
									<div class="desc">{{profile.city}}, {{profile.country}}</div>
								</div>
								<div class="col-md-4">
									<div class="avatar">
										<img alt="" src="{{avaurl}}">
									</div>								
								</div>
								<div class="col-md-1">
									<a class="btn btn-primary btn-twitter btn-sm" href="{{skype}}">
										<i class="fa fa-twitter"></i>
									</a>
								</div>
								<div class="col-md-1">
									<a class="btn btn-danger btn-sm" rel="publisher" href="{{googleplus}}">
										<i class="fa fa-google-plus"></i>
									</a>
								</div>
								<div class="col-md-1">
									<a class="btn btn-primary btn-sm" rel="publisher" href="{{facebook}}">
										<i class="fa fa-facebook"></i>
									</a>
								</div>
								<div class="col-md-1">
									<a class="btn btn-warning btn-sm" rel="publisher" href="{{twitter}}">
											<i class="fa fa-twitter"></i>
									</a>
								</div>									
							</div> -->
				{{/with}}
			</div>
		</div>
		{{#if author}}
			<div id="profilesett" class="transition hidden animated fadeInLeft">
				{{> settings}}
			</div>

			<div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1">
					
					{{#if comments.[0]}}
						You have unanswered comments in 
						{{#each comments}}
							{{#with comment}}
								<a href="/tour/{{tour_id}}">
									<span id="{{_id}}" alt="{{tour_id}}" class="pointer openComments label label-default">{{tour.title}}</span>
								</a> 
								{{debug}}
							{{/with}}
						{{/each}}
					{{/if}}
					
				</div>
			</div>
<!-- 			{{#if author.nopubs}}
				<div class="row">
					<div class="col-xs-12 col-md-10 col-md-offset-1 h2 jumbotron blue">
						You don't have any tours published. To publish a tour click a globe icon on a tour.
					</div>
				</div>
			{{/if}} -->
		{{/if}}
	</section>
</template>

<template name="settings">
<!-- 	<div class="container-fluid"> -->
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h4 class="brand-heading">KEY</h4>
		</div>
	</div>
	
	<div class="row text-left">
		<div class="col-xs-6 col-sm-6 col-md-5 col-md-offset-2">
			Create secret key for connecting an app. Please be aware this key can be shown only once and immediately invalidates the old key.			
		</div>
		{{#if user.profile.agree.checked}}
			<div class="col-xs-6 col-sm-6 col-md-3 ">
				<button class="btn btn-default" id="genKey">Generate key</button> 
			</div>
			{{#if secret}}
				<div class="col-xs-12 col-sm-12 col-md-2 h1 text-center animated tada">
					{{secret}} 
				</div>
			{{/if}}
		{{else}}
				<div class="col-xs-7 col-sm-7 col-md-5 col-md-offset-2 ">
					Please agree to <a href="/about?get=terms">terms and conditions</a> first 
				</div>	
				<div class="col-xs-5 col-sm-5 col-md-3">
					<button class="btn btn-default agree" >Agree</button> 
				</div>
		{{/if}}
	</div>
	
	<br/>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h4 class="brand-heading">SETTINGS</h4>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-2 leftswitch">
			<span class="?">Portals autogeneration</span>
		</div>
		<div class="col-xs-6 col-sm-5 col-md-3 ">	
			<label class="switch">
				<input type="checkbox" {{autoPortals}} class="autoPortals " id="autoPortals">
				<div class="slider round"></div>	
			</label>
		</div>
	</div>
<!-- 	<div class="row">
		<div class="col-xs-6 col-md-6 col-md-offset-2 leftswitch">
			<span class="?">Autoturn to next scene</span>
		</div>
		<div class="col-xs-5 col-sm-5 col-md-3 ">		
			<label class="switch">
				<input type="checkbox" {{autoTurm}} class="autoTurn " id="autoTurn">
				<div class="slider round"></div>	
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-md-6 col-md-offset-2 leftswitch">
			<span class="?">Entrance behind</span>
		</div>
		<div class="col-xs-5 col-sm-5 col-md-3 ">	
			<label class="switch">
				<input type="checkbox" {{autoCamera}} class="autoCamera " id="autoCamera">
				<div class="slider round"></div>	
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-md-6 col-md-offset-2 leftswitch">
			<span class="?">Preload scenes</span>
		</div>
		<div class="col-xs-5 col-sm-5 col-md-3 ">	
			<label class="switch">
				<input type="checkbox" {{preload}} class="soon preload " id="preload">
				<div class="slider round"></div>	
			</label>
		</div>
	</div> -->
	<div class="row">
		<div class="col-xs-6 col-md-6 col-md-offset-2 leftswitch">
			<span class="?">Use advanced</span>
		</div>
		<div class="col-xs-5 col-sm-5 col-md-3 ">	
			<label class="switch">
				<input type="checkbox" {{useAdvanced}} class="useAdvanced " id="useAdvanced">
				<div class="slider round"></div>	
			</label>
		</div>
	</div>
<!-- 	<div class="row">
		<div class="col-xs-6 col-md-6 col-md-offset-2 leftswitch">
			<span class="soon">show exact time: <br>
			{{dateEx}}</span>
		</div>
		<div class="col-md-2 col-xs-4">	
			Soon
		</div>
	</div> -->
<!-- 	<div class="row">
		<div class="col-xs-6 col-md-6 col-md-offset-2 leftswitch">
			<span class="soon">Autosuggest for tags and usernames</span>
		</div>
		<div class="col-xs-5 col-sm-4 col-md-3 ">	
			<label class="switch">
				<input type="checkbox" {{autosuggest}} class="soon autosuggest" id="autosuggest">
				<div class="slider round"></div>	
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-md-6 col-md-offset-2 leftswitch">
			<span class="soon">Feedback vibration/sound</span>
		</div>
		<div class="col-xs-5 col-sm-4 col-md-3 ">	
			<label class="switch">
				<input type="checkbox" {{feedbacksound}} class="soon feedbacksound" id="feedbacksound">
				<div class="slider round"></div>	
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-md-6 col-md-offset-2 leftswitch">
			<span class="soon">Autoload while scrolling</span>
		</div>
		<div class="col-xs-5 col-sm-4 col-md-3 ">	
			<label class="switch">
				<input type="checkbox" {{autoload}} class="autoload soon" id="autoload">
				<div class="slider round"></div>	
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-md-6 col-md-offset-2 leftswitch">
			<span class="soon">Use GPS EXIF data</span>
		</div>
		<div class="col-xs-5 col-sm-4 col-md-3 ">	
			<label class="switch">
				<input type="checkbox" {{gpsExif}} class="gpsExif soon" id="gpsExif">
				<div class="slider round"></div>	
			</label>
		</div>
	</div> -->

	{{#if isAdmin}}
		<br/>

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h4 class="brand-heading">ADMIN STUFF</h4>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-6 col-md-6 col-md-offset-2 leftswitch">
				<span class="?">debug: </span>
			</div>
			<div class="col-xs-5 col-sm-4 col-md-3 ">	
				<label class="switch">
					<input type="checkbox" {{statusDebug}} class="debug" >
					<div class="slider round"></div>	
				</label>
			</div>
		</div>
		
<!-- 		<div class="row">
			<div class="col-xs-6 col-md-6 col-md-offset-2 leftswitch">
				<span class="?">fullhistory: </span>
			</div>
			<div class="col-xs-5 col-sm-4 col-md-3 ">	
				<label class="switch">
					<input type="checkbox" {{fullhistory}} class="fullhistory " >
					<div class="slider round"></div>	
				</label>
			</div>
		</div> -->
	
		<div class="row">				
			{{#with status}}
				<div class="col-xs-6 col-md-6 col-md-offset-2 leftswitch">
					<span class="?">server {{server}} </span>
				</div>
				<div class="col-xs-5 col-sm-4 col-md-3 ">		
					<label class="switch">
						<input type="checkbox" {{status.checked}} class="reconnect " >
						<div class="slider round"></div>	
					</label>

				</div>
			{{/with}}
		</div>
		
		<div class="row text-left">
			<div class="col-xs-12">
				3rd party libraries:
			</div>
		</div>
		{{#each libraries}}
			<div class="row text-left">
				<div class="col-xs-3">
					<a href="{{link}}">{{type}}</a>
				</div>	
				<div class="col-xs-3">
					{{#if personal}}
						personal: <input type="checkbox" class="toggleSwitch enableLib" id="{{id}}" {{enabled}} data-toggle="toggle" data-onstyle="info" data-width="50" data-height="25" >
					{{else}}
						common: <input type="checkbox" class="toggleSwitch" id="{{id}}" {{enabled}} disabled data-toggle="toggle" data-onstyle="info" data-width="50" data-height="25" >
					{{/if}}
				</div>										
				<div class="col-xs-3">
					{{createdAt}}
				</div>		
			</div>
			<hr>
		{{/each}}
	
	{{/if}}
	
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			
			{{#if changePwd}}
				{{> atForm state='changePwd'}}
			{{else}}
				<button class="btn btn-default" id="changePwd">Change password</button> 
				{{> atNavButton}}
			{{/if}}
		</div>	
	</div>
<!-- 	</div> -->
</template>

<template name="privacy">
	<div class="terms">
		{{#if privacy}}
			{{{privacy.text}}}
		{{else}}
			{{#if isAdmin}}
				{{> quickForm class="main form page btn-rxs" id="insertAbout" schema=Schemas.About type="insert" collection="About"}}
			{{/if}}
		{{/if}}
	</div>
</template>

<template name="agreement">
	{{#if currentUser}}
		<div class="termsbts">
			{{#if agreeTerm}}
				You have agreed to Terms and Conditions on {{dateAgree}}
			{{else}}
				{{#autoForm id="agreeTerm" template="bootstrap3" schema="SchemasUserProfile" type="method" meteormethod="user.terms"}}
					{{> afQuickField name="agree.checked" type="boolean-checkbox" value=checked}}
					<div class="form-group">
						<button class="btn btn-warning" id="noway">No</button> 
						<button type="submit" class="btn btn-primary" id="close">Agree</button>
					</div>
				{{/autoForm}}
			{{/if}}
		</div>
	{{/if}}
</template>

<template name="connectAccounts">
	<div class="row text-center">
		<div class="col-xs-3"> 
				Account
		</div>
		<div class="col-xs-2"> 
				Connect
		</div>
		<div class="col-xs-4"> 
				Settings
		</div>
		<div class="col-xs-3"> 
				Extras
		</div>
	</div>
	{{#each services}}
		<div class="row text-center fontsmaller">
			<div class="col-xs-3 "  id="{{_id}}"> 
				<div class="button btn btn-primary btn-sm connect{{service}}" rel="publisher" data-toggle="tooltip" title="connect to {{service}}">	
					<i class="connected fa fa-{{service}}"></i>
				</div>
			</div>
			<div class="col-xs-2"> 
				{{#if connected}}
					<a class="disconnect fontlarger" id="{{service}}"  href="{{url}}" target=_blank>
						<i class="toconnect fa fa-check-square"></i>
					</a>
				{{else}}
					<a class="connect fontlarger" id="{{service}}"  href="{{url}}" target=_blank>
						<i class="pointer toconnect fa fa-square-o connect{{service}}"></i>
					</a>								
				{{/if}}
			</div>
			<div class="col-xs-4"> 
				{{#if connected}}
					{{#if $eq service 'facebook'}}
<!-- 								{{facebook}}
						{{> quickForm id="privacyForm2" schema=schema doc=facebook type="method" meteormethod="user.privacy.facebook" template="bootstrap3-inline" afFieldInput-placeholder="schemaLabel"}} -->
						{{#autoForm id="privacyForm" template="bootstrap3" doc=facebook schema=schema type="method" meteormethod="user.settings.facebook" autosave=true}}
							{{> afQuickFields}}
						{{/autoForm}}
					{{/if}}
				{{/if}}
			</div>
			<div class="col-xs-3"> 
					{{#if $eq service 'facebook'}}
						{{facebook.role}}
					{{/if}}
			</div>
		</div> 
		{{#if $eq service 'facebook'}}
			{{#if connected}}
				<div class="row text-left">
					<div class="col-xs-12"> 
						{{#if facebook.messenger}}
							<span>FB messenger connected</span>
						{{else}}
							To connect FB Messenger send us a message "<b>connect</b>" at <a href="https://www.facebook.com/VirGO360VR/messages" target=_blank>VirGO 360 page</a>
							After you have Messenger connected you will be able to receive comments there.
						{{/if}}
					</div>	
				</div>
			{{/if}}
		{{/if}}
	{{/each}}

	<div class="row">	
		<div class="col-xs-12 animated zoomIn red">
			{{errorState}}
		</div>
	</div>
	{{#if on_connected}}
		<div>
			Let's switch on autopublish. Every your new picture will be published to <b><span class="cursor autopublish">{{on_connected}}</span></b>
		</div>
	{{/if}}

</template>
