
<template name="test">

	<section id="images" class="topsection container-fluid text-center">
							
		<div class="row ">
			<div class="col-sm-12 col-md-12 ">
<input type="text" class="form-control datepicker hidden" id="datepicker">
<!-- 				<div id="circle"></div>
					{{#autoForm collection="Images" id="insertImagesForm" afFieldInput-placeholder="schemaLabel" type="insert"}}
						<fieldset>
							
							{{> afQuickField name='url' advanced=true button=true fields=false label=false}}
								<button type="submit" class="btn btn-block btn-default">OK</button>
						</fieldset>
					{{/autoForm}}		
					<br/><br/>
					<input id="toggle" type="checkbox" data-toggle="toggle"> -->
			</div>
		</div>
					
	</section>
	
	

<!-- <div id="vrview"></div> -->

</template>
