<template name="customInvite">
  <select id="at-field-{{_id}}" name="at-field-{{_id}}" data-something="{{options.someOption}}">
    {{#each select}}
    <option value="{{value}}">{{text}}</option>
    {{/each}}
  </select>
</template>

<template name="appAtInput">
  {{#if options.dividerBefore}}<hr>{{/if}}

  {{> Template.dynamic template=templateName}}
</template>

<template name="termsCheckbox">
  <div class="at-input form-group {{#if isValidating}}validating{{/if}} {{#if hasError}}has-error{{/if}} {{#if hasSuccess}}has-success{{/if}} {{#if feedback}}has-feedback{{/if}}">
    <div class="ui checkbox">
      <input type="{{type}}" id="at-field-{{_id}}" name="at-field-{{_id}}" {{disabled}}>
      <label for="at-field-{{_id}}">
        I've read and agree to the <span class="cursor orange" id="terms">Terms and Conditions</span>
      </label>
			<span class="help-block {{#unless hasError}}hide{{/unless}}">{{errorText}}</span>
    </div>
  </div>
</template>

<template name="inviteSign">
	<div class="at-input form-group {{#if isValidating}}validating{{/if}} {{#if hasError}}has-error{{/if}} {{#if hasSuccess}}has-success{{/if}} {{#if feedback}}has-feedback{{/if}}">
		<input type="{{type}}" class="form-control" id="at-field-{{_id}}" name="at-field-{{_id}}" placeholder="invite code" autocapitalize="none" autocorrect="off" {{disabled}}>
    <label class="control-label" for="at-field-invite">
      Don't have one? Request and get from <span class="cursor invitelink orange">Orangry</span> 
    </label>
		<span class="help-block {{#unless hasError}}hide{{/unless}}">{{errorText}}</span>
  </div>
</template>