<template name="footer">
	<!-- Footer -->
	<footer>
		<div class="container footer text-right h4 ">
			<div class="card hovercard">
				<div class="bottom">

				</div>
			</div>
		</div>
	</footer>

</template>
