<template name="signinModal">
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
						<h4 class="modal-title">Sign In</h4>
				</div>

				{{> atForm}}

			</div>
		</div>
	</div>
</template>

<template name="profileModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Profile</h4>
                </div>

                <div class="modal-body">
									{{#autoForm collection="Meteor.users" doc=this id="profileForm" type="update" autosave=true
										template="bootstrap3-inline" label=false label-class="sr-only" afFieldInput-placeholder="schemaLabel"
									}}
										{{> afQuickField label-class="sr-only" name='username'}}
					<!-- 					{{> afObjectField name='emails'}} -->
										{{> afObjectField label=false label-class="sr-only" name='profile'}}
										<button type="submit" class="btn btn-default" data-dismiss="modal">Update</button>
									{{/autoForm}}									
                </div>

<!--                 <div class="modal-footer text-center">
										<button type="submit" class="btn btn-default" data-dismiss="modal">Update</button>
                </div> -->

            </div>
        </div>
    </div>
</template>

<template name="deletetourModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Delete</h4>
                </div>

                <div class="modal-body">
									Are you sure you want to delete this tour {{title}}?
                </div>

                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-danger delete" data-dismiss="modal">Yes</button> 
										<button type="button" class="btn btn-info" data-dismiss="modal">No</button>
                </div>

            </div>
        </div>
    </div>
</template>

<template name="deletesceneModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Delete</h4>
                </div>

                <div class="modal-body">
									Are you sure you want to delete this scene?
                </div>

                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default delete" data-dismiss="modal">Yes</button> 
										<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>

            </div>
        </div>
    </div>
</template>

<template name="editDetailsModal">
	<div class="modal fade fadeblack">
		<div class="modal-dialog">
			<div class="modal-content modal-blur">

				{{>editTourDetails}}

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
				</div>

			</div>
		</div>
	</div>
</template>

<template name="tourDetailsModal">
	<div class="modal fade fadeblack">
		<div class="modal-dialog">
			<div class="modal-content modal-blur">

	<div class="container-fluid modal-page">
		<div class="row">
			<div class="col-sm-12 text-center h1"> 	
				{{title}}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 text-center"> 
				<div class="row">
					<div class="col-xs-12 text-center"> 
						<img src="{{iconImg}}" class="img100"/>
					</div>
					<div class="col-xs-12 text-center"> 		
						{{#if locationShow}}
							{{location.address}}
						{{/if}}
					</div>
				</div>
			</div>
			<div class="col-sm-6 text-left"> 	
				<div class="row">
					<div class="col-xs-12"> 	
						{{description}}		
					</div>			
					<div class="col-xs-12"> 	
						{{#each tags}}
							<span class="label label-default">{{this}}</span>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
				</div>

			</div>
		</div>
	</div>
</template>

<template name="editSceneModal">
	<div class="modal fade ">
		<div class="modal-dialog">
			<div class="modal-content modal-blur">

				<div class="modal-header">
						<h4 class="modal-title white">Current Scene</h4>
				</div>

				<div class="modal-body text-left">
					{{#autoForm collection="Scenes" template="bootstrap3-horizontal" type="update" label-class="hidden" afFieldInput-placeholder="schemaLabel" doc=this autosave=true id="editSceneForm"}}
						<fieldset>
							{{#if ifViewer}}
								{{> afQuickField name="title" template="bootstrap3-horizontal" label-class="col-sm-2 text-right" input-col-class="col-sm-10" disabled=true}}
							{{else}}
								{{> afQuickField name="title" template="bootstrap3-horizontal" label-class="col-sm-2 text-right" input-col-class="col-sm-10"}}
							{{/if}}
							{{#unless afFieldValueIs name="first" value=true}}
								{{> afQuickField name="order" template="bootstrap3-horizontal" label-class="col-sm-2 text-right" input-col-class="col-sm-10" }}
							{{/unless}}
							{{> afQuickField name="first" template="bootstrap3-horizontal" label-class="col-sm-2 text-right" input-col-class="col-sm-10" }}
						</fieldset>
					{{/autoForm}}
					<br/><br/>
					{{#if ifViewer}}
						<div>
							<input id="north" data-slider-id='northSLider' type="text" data-slider-min="-180" data-slider-max="180" data-slider-step="1" data-slider-value="{{northneg}}"/>
						</div>		
					{{/if}}
				</div>

				<div class="modal-footer">
					{{#unless ifViewer}}
						<button type="button" class="btn btn-danger delete" data-dismiss="modal">Delete</button> 		
					{{/unless}}
					<button type="button" class="btn btn-info updateForm" >Update</button>
				</div>

			</div>
		</div>
	</div>
</template>

<template name="editPortalModal">
	<div class="modal fade fadeblack">
		<div class="modal-dialog">
			<div class="modal-content modal-blur">

				<div class="modal-header">
						<h4 class="modal-title">Portal Editor</h4>
				</div>

				<div class="modal-body">
					{{#autoForm collection="Scenes" template="bootstrap3-horizontal" type="update" label-class="hidden" afFieldInput-placeholder="schemaLabel" doc=this.scene autosave=true id="editSceneForm"}}
						<fieldset>
<!-- 							{{> afQuickField name="title" template="bootstrap3-horizontal" label-class="col-sm-1 text-right" input-col-class="col-sm-11"}}
							{{> afQuickField name="north" template="bootstrap3-horizontal" label-class="col-sm-1 text-right" input-col-class="col-sm-11"}} -->
							{{> afQuickField name="portal" template="bootstrap3-horizontal" label-class="col-sm-1 text-right" input-col-class="col-sm-11"}}
						</fieldset>
						<div class="modal-footer">	
							<button class="btn btn-primary" type="submit">OK</button>
						</div>
					{{/autoForm}}
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
				</div>

			</div>
		</div>
	</div>
</template>

<template name="editPortalModal2">
	<div class="modal fade fadeblack">
		<div class="modal-dialog">
			<div class="modal-content modal-blur">

				<div class="modal-header">
						<h4 class="modal-title">Portal Editor</h4>
				</div>

				<div class="modal-body">
					{{#autoForm collection="Scenes" template="bootstrap3-horizontal" type="update-pushArray"  scope="portal" meteormethod="scene.update.portal" label-class="hidden" afFieldInput-placeholder="schemaLabel" doc=this autosave=true id="editPortalForm"}}
						<fieldset>
<!-- 							{{> afQuickField name="_id" value=this._id type='hidden'}}
							{{> afQuickField name="tour_id" value=this.tour_id type='hidden'}}
							{{> afQuickField name="visible" value=true type='hidden'}} -->
<!-- 							{{> afQuickField name="title" template="bootstrap3-horizontal" label-class="col-sm-1 text-right" input-col-class="col-sm-11"}}
							{{> afQuickField name="north" template="bootstrap3-horizontal" label-class="col-sm-1 text-right" input-col-class="col-sm-11"}} -->
							{{> afQuickField name="title" template="bootstrap3-horizontal" label-class="col-sm-1 text-right" input-col-class="col-sm-11" value=this.portal.title}}
							{{> afQuickField name="hover" template="bootstrap3-horizontal" label-class="col-sm-1 text-right" input-col-class="col-sm-11" value=this.portal.hover type="hidden"}}
							{{> afQuickField name="next_scene" value=this.portal.next_scene type="hidden"}}
							{{> afQuickField name="_id" value=this.portal._id type="hidden" }}
						</fieldset>
					{{/autoForm}}
					<div class="modal-footer">	
						<button id="{{this.portal.next_scene}}" class="btn btn-danger delete" >Delete</button> 
						<button class="btn btn-primary submit" >OK</button>
					</div>
					
				</div>

<!-- 				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
				</div> -->

			</div>
		</div>
	</div>
</template>

<template name="hotspotModal">
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
						<h4 class="modal-title">Advanced Scene Editor</h4>
				</div>

				<div class="modal-body">
					{{#autoForm collection="Scenes" template="bootstrap3-horizontal" type="update" label-class="hidden" afFieldInput-placeholder="schemaLabel" doc=this.scene autosave=true id="editSceneForm"}}
						<fieldset>
							{{> afQuickField name="title" template="bootstrap3-horizontal" label-class="col-sm-1 text-right" input-col-class="col-sm-11"}}
							{{> afQuickField name="north" template="bootstrap3-horizontal" label-class="col-sm-1 text-right" input-col-class="col-sm-11"}}
							{{> afQuickField name="portal" template="bootstrap3-horizontal" label-class="col-sm-1 text-right" input-col-class="col-sm-11"}}
						</fieldset>
<!-- 						<div class="modal-footer">	
							<button class="btn btn-primary" type="submit">Save</button>
						</div> -->
					{{/autoForm}}
				</div>
				<div class="modal-footer">
					<button type="button" class="off btn btn-default" >Close</button>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="titleModal">
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<h4 class="modal-title">edit Titles for {{tourId}}</h4>
				</div>

				<div class="modal-body">
				<div class="container-fluid">
<!-- 					{{> quickForm collection=TitleColl type="update" doc=titles id="add-test"}} -->
				{{#with titles}}
					<div class="row">
						<div class="col-xs-3 col-xs-offset-1">
						File: {{file}}
						</div>
					</div>
					{{#each strings}}
					<div class="row">
						<div class="col-xs-3 col-xs-offset-1">{{id}}:</div><div class="col-xs-6"><input type="text" id="{{id}}" name="nameTitle" class="form-control updateTitle" value="{{text}}"></div>
					</div>
					{{/each}}
					
				{{/with}}
				</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>
</template>

<template name="viewpanoModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Panorama</h4>
                </div>

                <div class="modal-body ">
									<div class="row cursive">
										<div class="col-sm-12">
											<img onLoad="this.src='{{dataImg}}'" id="panoImage" src="/img/loading.gif" class="img-responsive modalPano img100 animated fadeIn " alt="ifImage" title="{{file}}"/>		
										</div>
										<div class="col-sm-12 ">
<!-- 											tags: {{#each tags}}{{this}}, {{/each}}		 -->
											used in {{#each usedIn}}<label class="label"><a href="/tour/{{this}}" class="hideModal" >{{tourTitle.title}}</a></label>{{/each}}
										</div>										
										<div class="col-sm-12 ">
<!-- 											tags: {{#each tags}}{{this}}, {{/each}}		 -->
											{{#autoForm collection="Images" id="updateImageForm" afFieldInput-placeholder="schemaLabel" doc=this type="update" autosave=true}}
												{{> afQuickField name='tags' label="tags" afFieldInput-placeholder="schemaLabel" value=tags }}		
											{{/autoForm}}
										</div>
										<div class="col-sm-12 error red">
											{{#if error}}
												{{{error}}}
											{{/if}}
										</div>										
										<div class="col-sm-12 ">
<!-- 											tags: {{#each tags}}{{this}}, {{/each}}		 -->								
											{{#with meta}}
												Meta: {{formattedAddress}}, 
												shot on {{shotAt}}
											{{/with}}
										</div>
									</div>
                </div>
								


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
										{{#if insideTour}}
											<button type="button" class="btn btn-info addScene">Add to tour</button>
										{{/if}}
                </div>

            </div>
        </div>
    </div>
</template>

<template name="editTagsModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Edit tags</h4>
                </div>

                <div class="modal-body ">
									<div class="row cursive">
										<div class="col-sm-12 ">
<!-- 											tags: {{#each tags}}{{this}}, {{/each}}		 -->
<!-- 											{{#each tags}}<label class="label"><a href="{{this}}" class="hideModal" >{{tags}}</a></label>{{/each}} -->
										</div>										
										<div class="col-sm-12 ">
<!-- 											tags: {{#each tags}}{{this}}, {{/each}}		 -->
<!-- 											{{> quickForm id="updateTagsForm" type="update" schema=schema doc=doc type="method" meteormethod="image.tags" novalidate="novalidate"}} -->
											{{#autoForm id="updateTagsForm" schema=schema doc=doc type="method" meteormethod="image.tags" autosave=true novalidate="novalidate"}}
												{{> afQuickField name='images' label=false type="hidden" afFieldInput-placeholder="schemaLabel"  }}		
<!-- 												{{> afQuickField name='comtags' label=false type="hidden" afFieldInput-placeholder="schemaLabel"  }}		 -->
												{{> afQuickField name='tags' label="Common Tags" afFieldInput-placeholder="schemaLabel" value=tags }}		
											{{/autoForm}}
										</div>
										<div class="col-sm-12 error red">
											{{#if error}}
												{{{error}}}
											{{/if}}
										</div>										
										<div class="col-sm-12 ">
<!-- 											tags: {{#each tags}}{{this}}, {{/each}}		 -->								
											{{#with meta}}
												Meta: {{formattedAddress}}, 
												shot on {{shotAt}}
											{{/with}}
										</div>
									</div>
                </div>
								


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
										{{#if insideTour}}
											<button type="button" class="btn btn-info addScene">Add to tour</button>
										{{/if}}
                </div>

            </div>
        </div>
    </div>
</template>

<template name="publishpanoModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Publish Panorama as 360 tour</h4>
                </div>
								{{debug}}
                <div class="modal-body ">
									<div class="row cursive">
										<div class="col-sm-12">
											<img src="{{dataImg}}" id="panoImage" class="img-responsive modalPano img100 animated fadeIn " alt="{{file}}" title="{{file}}"/>		
										</div>
										<div class="col-sm-12 ">
											{{#unless added}}
												{{#autoForm collection="Tours" id="insertPanoTourForm" afFieldInput-placeholder="schemaLabel" doc=doc type="method" meteormethod="tours.publishpano"}}
													{{> afQuickField name='title' afFieldInput-placeholder="schemaLabel" }}		
													{{> afQuickField name='id' type='hidden' label=false afFieldInput-placeholder="schemaLabel"}}		
													{{> afQuickField name='panorama_id' type='hidden' label=false afFieldInput-placeholder="schemaLabel"}}		
													{{> afQuickField name='tags' label="tags" afFieldInput-placeholder="schemaLabel" value=tags }}		
													{{> afQuickField name='location.address' afFieldInput-placeholder="schemaLabel" }}		
													{{> afQuickField name='location.gps.lat' type='hidden' afFieldInput-placeholder="schemaLabel" }}		
													{{> afQuickField name='location.gps.lng' type='hidden' afFieldInput-placeholder="schemaLabel" }}		
													{{> afQuickField name='icon.url' type='hidden' afFieldInput-placeholder="schemaLabel" }}		
													<button type="submit" class=" btn btn-info publishTour">Publish</button> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
												{{/autoForm}}
											{{else}}
												Your panorama was published. 
												Remember to replace an icon with the better one in <a href="/tour/{{added.inserted}}" class="hideModal">Tour Editor</a><br/>
											{{/unless}}
										</div>
										<div class="col-sm-12 error red">
											{{#if error}}
												{{{error}}}
											{{/if}}
										</div>										
									</div>
                </div>
								


                <div class="modal-footer">
                    
                </div>

            </div>
        </div>
    </div>
</template>

<template name="screenshotModal">
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
						<h4 class="modal-title">Screenshot</h4>
				</div>

				<div class="modal-body screenshotModal">
					<div id="screen-canvas">
						<img  class="img100" src="{{file}}" alt="{{titile}}" title="{{title}}" />
					</div>
					<div class="leftbottom fontlarge48 linkwhitewhite">						
						<a href="#" class="forIcon">
							<i class="fa fa-picture-o" aria-hidden="true" data-toggle="tooltip" title="use for tour icon"></i>
						</a>
						<a class="" download="{{title}}_screenshot.png" href="{{file}}">
							<i class="fa fa-download" aria-hidden="true" data-toggle="tooltip" title="download this screenshot"></i>
						</a>						
						<input name="file" type="file" class="cloudinary-fileupload image_upload hidden" data-cloudinary-field="image_upload" />
						{{#if result}}<div class="animated fadeIn fontsmaller">{{result}}</div>{{/if}}
					</div>
				</div>
				<div class="modal-footer">
<!-- 						<a download="screenshotTour.png" href="{{href}}">
							download
						</a>  -->
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="shareModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Share this tour</h4>
                </div>

                <div class="modal-body ">
									{{#if first}}
										<div class="row cursive fontlarge">
											<div class="col-sm-2 col-sm-offset-2">
												<img src="/img/Businesswoman-1-icon.png" class="img100" 	alt="?" title="?" />
											</div>
											<div class="col-sm-6 ">
												Your first VR tour, let's celebrate and share<br/>		
											</div>
										</div>
									{{/if}}
									<div class="img100 text-center">
										
										<!-- <img src="{{iconUrl}}" class="img100" /> -->
										<img src="{{dataImg}}" class="img100" />
										{{#if $eq sharingService 'facebook'}}
											<div class="arrow-left pointer linkwhitewhite"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></div>
											<div class="vertline" style="left: {{lineposition}}%;"></div>
											<div class="arrow-right pointer linkwhitewhite"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></div>
										{{/if}}
										
									</div>
									{{#if $eq sharingService 'facebook'}}										
										<div class="text-center">
											<label class="control-label">initial direction</label>
											<input id="north" data-slider-id='northSLider' type="text" data-slider-min="-180" data-slider-max="180" data-slider-step="1" data-slider-value="{{north}}"/>
										</div>	
									{{/if}}
									<div class="card hovercard">
										<div class="bottom">
												<div class="shareIt pointer button btn twcolor btn-twitter btn-sm twitter" id="twitter" href="{{twitter}}" data-toggle="tooltip" title="share in twitter">
														<i class="fa fa-twitter"></i>
												</div>
												<div class="shareIt pointer button btn googcolor btn-sm googleplus grayscale" rel="publisher" id="googleplus" href="{{googleplus}}" data-toggle="tooltip" title="share in g-plus">
														<i class="fa fa-google-plus"></i>
												</div>
												<div class="shareIt pointer button btn fbcolor btn-sm facebook" rel="publisher" id="facebook" href="{{facebook}}" data-toggle="tooltip" title="share in FB">
														<i class="fa fa-facebook"></i>
												</div>
<!-- 												<div class="pointer button btn btn-warning btn-sm instagram grayscale" rel="publisher" id="instagram"  href="{{instagram}}" data-toggle="tooltip" title="share in IG">
														<i class="fa fa-instagram"></i>
												</div> -->
												<div class="button btn btn-warning btn-sm embed" rel="publisher" href="#" data-toggle="tooltip" title="show embed code">
													<i class="fa fa-code" aria-hidden="true"></i>
												</div>												
<!-- 												<div class="button btn btn-success btn-sm embed" rel="publisher" href="mailto" data-toggle="tooltip" title="share in email">
													<i class="fa fa-envelope" aria-hidden="true"></i>
												</div> -->
										</div>
									</div>
									{{#if $eq sharingService 'facebook'}}										
<!-- 										<div class="text-center">
											<input id="north" data-slider-id='northSLider' type="text" data-slider-min="-180" data-slider-max="180" data-slider-step="1" data-slider-value="{{north}}"/>
										</div>	 -->
										<div class="text-center">
											{{#autoForm id="shareForm" template="bootstrap3" doc=facebook schema=schema type="method" meteormethod="user.settings.facebook" autosave=true}}
<!-- 												{{> afQuickFields}} -->
												{{> afFormGroup name="privacy" type="select" value=facebook.privacy firstOption=facebook.privacy}}	
												{{> afFormGroup  name="account" type="select" value=facbook.accounts firstOption='me' options=options}}	
											{{/autoForm}}
<!-- 											<input id="shareTo"/>
										</div>											
										<div class="text-center">
											<input id="privacy" /> -->
										</div>											
									{{/if}}
									<div class="text-center">
										{{#if showText}}
											<div type="text" class="jumbotron transition text-center img100 animated fadeIn">
												<form id="{{showText}}" alt="showText">
													<textarea maxlength="128" id="showText" name="showText" rows="2" placeholder="Say something to share..."></textarea>
													<button class="btn btn-primary shareSubmit" >Share</button>
												</form>
<!-- 												<input id="showText" type="text" value="{{title}}"/> -->
											</div>
										{{/if}}
									</div>										
									<div class="text-center">
										{{#if sharingRes}}
											<div type="text" class="jumbotron transition text-center img100 animated fadeIn">
												{{#if sharingRes.link}}
													<a href="{{sharingRes.link}}" target=_blank><span class="btn-success">Shared on {{sharingRes.service}}, click to see</span></a>
												{{else}}
													<span class="btn-info">{{sharingRes.info}}</span>
												{{/if}}
											</div>
										{{/if}}
									</div>									
<!-- 									<div class="text-center">
										<div type="text" id="url" class="jumbotron selectable transition text-center img100">
											{{url}}
										</div>
									</div> -->
									{{#if embed}}
										<div class="text-center animated slideInUp">
											<div type="text" id="embed" class="jumbotron selectable transition text-center img100">
												{{embed}}
											</div>
										</div>
									{{/if}}									
									{{#if error}}
										<div class="text-center animated tada">
											<div type="text" id="embed" class="jumbotron selectable transition text-center img100 red">
												{{error}}
											</div>
										</div>
									{{/if}}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</template>

<template name="viewedModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">360 VR Tour {{title}}</h4>
                </div>

                <div class="modal-body ">
									<div class="row ">
										<div class="col-xs-3 col-xs-offset-3">
											<div class="img100 text-left">
												<!-- <img src="{{iconUrl}}" class="img100" /> -->
												<img src="/img/Analytics-icon.png" class="img100" />										
											</div>
										</div>
										<div class="col-xs-6 fontlarger">
											{{#with tour}}
												<div class="?" >Panoramas: {{panorama_id.length}}</div>
												<div class="?" >Viewed: {{watched}}</div>
												<div class="?" >Liked: {{liked}}</div>
												<div class="?" >Commented: {{commented}}</div>
											{{/with}}
										</div>	
									</div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</template>

<template name="embedModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Embed this tour</h4>
                </div>

                <div class="modal-body ">
									<div class="img100 text-center">
										<img src="{{iconUrl}}" class="img50" />
									</div>
									<div class="text-center">
										<div type="text" id="url" class="jumbotron selectable transition text-center img100">
											{{url}}
										</div>
									</div>
									<div class="text-center animated slideInUp">
										<div type="text" id="embed" class="jumbotron selectable transition text-center img100">
											{{embed}}
										</div>
									</div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</template>

<template name="prouserModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Update your PRO details</h4>
                </div>

                <div class="modal-body text-left">
									<div class="h4">Plan: {{plan}}. Max File Size: {{upload}}MB. Expiration: {{exp}}</div>										
									{{#autoForm collection="ProUsers" doc=this id="prousersForm"  type="method" meteormethod="user.editpro" autosave=true
										template="bootstrap3-inline" label=false label-class="sr-only" afFieldInput-placeholder="schemaLabel"}}
										{{> afQuickField label=false label-class="sr-only" name='userId' autosave=true}}
										{{> afQuickField label=false label-class="sr-only" name='logo' autosave=true}}
										<button type="submit" class="btn btn-default" data-dismiss="modal">Update</button>
									{{/autoForm}}		
<!-- 									{{> quickForm collection="ProUsers" afFieldInput-placeholder="schemaLabel" type="method" meteormethod="user.editpro" doc=this id="prousersForm" autosave=true}} -->
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> 
										<button class="btn btn-primary submit">OK</button>
                </div>

            </div>
        </div>
    </div>
</template>

<template name="teamuserModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Update your PRO details</h4>
                </div>

                <div class="modal-body text-left">
									<div class="h4">Plan: {{plan}}. Max File Size: {{upload}}MB. Expiration: {{exp}}</div>										
									{{#autoForm collection="ProUsers" doc=this id="prousersForm"  type="update" autosave=true
										template="bootstrap3-inline" label=false label-class="sr-only" afFieldInput-placeholder="schemaLabel"}}
										{{> afQuickField label-class="sr-only" name='teamUser'}}
										{{> afQuickField label=false label-class="sr-only" name='logo' autosave=true}}
										<button type="submit" class="btn btn-default" data-dismiss="modal">Update</button>
									{{/autoForm}}		
<!-- 									{{> quickForm collection="ProUsers" afFieldInput-placeholder="schemaLabel" type="method" meteormethod="user.editpro" doc=this id="prousersForm" autosave=true}} -->
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> 
										<button class="btn btn-primary submit">OK</button>
                </div>

            </div>
        </div>
    </div>
</template>

<template name="addCommentModal">
	<div class="modal fade fadeblack">
		<div class="modal-dialog">
			<div class="modal-content modal-blur">
				<div class="modal-header">
						<h4 class="modal-title white">Add a comment</h4>
				</div>

				<div class="modal-body text-left white">

					{{> addComment}}
					
				</div>

<!-- 				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
				</div> -->

			</div>
		</div>
	</div>
</template>

<template name="soonModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Soon</h4>
                </div>

                <div class="modal-body text-center h3">
									This feature is coming soon
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</template>

<template name="inviteUserModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Please say it!</h4>
                </div>

                <div class="modal-body ">
									<div class="text-center h3">
										Like what you see? Say so! The author needs a support
									</div>
									<div>
									<div class="row fontlarge">
										<div class="col-xs-6 col-sm-4 col-sm-offset-2">
											<img src="/img/Businesswoman-1-icon.png" class="img100" 	alt="?" title="?" />
										</div>
										<div class="col-xs-6 col-sm-6 h3 animated">
											<a class="href " href="#">							
												<span id="like" class="like pointer" data-toggle="tooltip"  data-html="true">
													<i class="fa fa-heart-o {{mylike}}" aria-hidden="true"></i> Like it
												</span>
											</a>
											<br/><br/>
											<a class="href" href="#">
												<span id="comment" class="comment pointer openComments {{newComment}}">
													<i class="fa fa-comments-o {{newComment}}" aria-hidden="true"></i> Comment it
												</span>
											</a>
										</div>
									</div>									
									</div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</template>

<template name="tryModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">{{modal.h2}}</h4>
                </div>

                <div class="modal-body ">
									<div class="row cursive">
										<div class="col-xs-6 col-sm-3 col-sm-offset-1 h3">
											<a href="{{pathFor 'worldtours'}}" class="img100" data-dismiss="modal">
												<img src="/img/Man-16-icon.png" class="img100" 	alt="?" title="?" />
											</a>	
										</div>
										<div class="col-xs-6 col-sm-6 animated">
											<!-- Words are cheap, let's <a href="#" class="exploreVR">see 360 tours</a> -->
											{{{modal.text}}}
										</div>
									</div>
                </div>

                <div class="modal-footer">
                    <a href="{{modal.url}}">
											<button type="button" class="btn btn-info exploreVR" data-dismiss="modal">{{modal.OKbutton}}</button>
										</a>
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</template>

<template name="notificationsModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Enable notifications</h4>
                </div>

                <div class="modal-body ">
									<div class="row cursive fontlarge">
										<div class="col-xs-6 col-sm-4 col-sm-offset-2">
											<img src="/img/Businesswoman-1-icon.png" class="img100" 	alt="?" title="?" />
										</div>
										<div class="col-xs-6 col-sm-6 h3 animated">
											Would you like to enable notifications about new tour or comments in your browser?
										</div>
									</div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-info enablePush" data-dismiss="modal">OK</button>								
										<button type="button" class="btn btn-default" data-dismiss="modal">Later</button>
                </div>

            </div>
        </div>
    </div>
</template>

<template name="promotionModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Promotion</h4>
                </div>

                <div class="modal-body ">
									<div class="row ">
										<div class="col-xs-6 col-sm-3 col-sm-offset-1">
											<a class="" href="{{pathFor 'sign-in'}}"  data-dismiss="modal">
												<img src="/img/Man-16-icon.png" class="img100" 	alt="?" title="?" />
											</a>
										</div>
										<div class="col-xs-6 col-sm-6">
											{{{sale.text}}}
										</div>
									</div>
                </div>

                <div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>

            </div>
        </div>
    </div>
</template>

<template name="serverofflineModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Offline</h4>
                </div>
                <div class="modal-body ">
									<div class="row cursive fontlarge">
										<div class="col-xs-4 col-md-4 text-center ">
												<!-- <img src="/img/Boss-5-icon.png" class="img100" 	alt="?" title="?" /> -->
											<br/><br/>
											<span class="glyphicon glyphicon-cog animated infinite rotateIn rotating fontlarge96"></span>
										</div>
										<div class="col-xs-8 col-md-6 h3">
											The server is offline at the moment. We are probably updating the server code. It will be back momentarily. However you still can work with it because the app is already loaded on your computer.<br/>
											server {{server}} 
										</div>
									</div>
                </div>
<!--                 <div class="modal-body">
									The server is offline at the moment. We are probably updating the server code. It will be back momentarily. However you still can work with it because the app is already loaded on your computer.
									<div class="row">				
										{{#with status}}
											<div class="col-xs-12 col-md-8 col-md-offset-2">
												server {{server}} r\<span class="glyphicon glyphicon-cog rotating"></span>
											</div>
											<div class="col-md-2 col-xs-4">					


											</div>
										{{/with}}
									</div>
                </div> -->

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</template>

<template name="feedbackModal">
  <div id="feedback" class="modal fade">
    <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Leave us a feedback</h4>
				</div>
				<div class="modal-body">
<!-- 					{{> quickForm id="addContact" type="insert" collection="Contact" schema='Schemas.Contact' doc=this}} -->
						{{#if currentUser}}
							{{#with contactUser}}
								{{> feedbackForm}}
							{{/with}}
						{{else}}
							{{> feedbackForm}}
						{{/if}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="askFaqModal">
  <div id="feedback" class="modal fade">
    <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Ask us a question</h4>
				</div>
				<div class="modal-body">
<!-- 					{{> quickForm id="addContact" type="insert" collection="Contact" schema='Schemas.Contact' doc=this}} -->
					{{# autoForm collection="Faq" type="method" meteormethod="text.askfaq" id="askFaqForm" label=false label-class="hidden" afFieldInput-placeholder="schemaLabel" }}
						{{> afQuickField name="title" }}
						{{> afQuickField name="question" }}
						<button class="btn btn-default delete" data-dismiss="modal">Cancel</button> 
						<button class="btn btn-primary submit" data-dismiss="modal">Ask</button>
					{{/autoForm}}
					<div class="modal-footer">	

					</div>					
				</div>
			</div>
		</div>
	</div>
</template>

<template name="complainModal">
  <div id="feedback" class="modal fade">
    <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Complain form</h4>
				</div>
				<div class="modal-body">
<!-- 					{{> quickForm id="addContact" type="insert" collection="Contact" schema='Schemas.Contact' doc=this}} -->
						{{#if currentUser}}
							{{#with currentUser}}
								{{> feedbackForm}}
							{{/with}}
						{{else}}
							{{> feedbackForm}}
						{{/if}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="sendMessageModal">
  <div id="feedback" class="modal fade">
    <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Send Message</h4>
				</div>
				<div class="modal-body">
<!-- 					<input type="text" id="{{value.messender}}" name="message" class="form-control sendMessage" >
					<button class="btn btn-primary submit" >Send</button> -->
					{{> quickForm id="sendMessage" type="method" meteormethod="social.facebook.messenger" schema=schema doc=doc}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="sendPushModal">
  <div id="feedback" class="modal fade">
    <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Send Message</h4>
				</div>
				<div class="modal-body">
<!-- 					<input type="text" id="{{value.messender}}" name="message" class="form-control sendMessage" >
					<button class="btn btn-primary submit" >Send</button> -->
					{{> quickForm id="sendMessage" type="method" meteormethod="push.msg" schema=schema doc=doc}}
				</div>
			</div>
		</div>
	</div>
</template>
