<template name="nav">
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
<!-- 				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Dropdown
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Something else here</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Disabled</a>
				</li> -->
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>
<!-- 	<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
		<h4 id="fat">@fat</h4>
		<p>...</p>
		<h4 id="mdo">@mdo</h4>
		<p>...</p>
		<h4 id="one">one</h4>
		<p>...</p>
		<h4 id="two">two</h4>
		<p>...</p>
		<h4 id="three">three</h4>
		<p>...</p>
	</div> -->
</template>

<template name="logo">
	<!-- Navigation -->
	<div class="topright" >
		<a class="href logo page-scroll" href="{{pathFor '/#top'}}">
			<span class=""><img src="{{logo.url}}" alt="" border="0" align="left"/></span>	
		</a>
	</div>	
</template>

<template name="navlanding">	
		<li>
				<a class="page-scroll" href="#top">#Top</a>
		</li>
		<li>
				<a class="page-scroll" href="#solutions">#Solutions</a>
		</li>
		<li>
				<a class="page-scroll contactUs" href="#contact">#Join</a>
		</li>	
		<li>
				<a class="" href="{{pathFor 'blog'}}"><i class="fa fa-fw  fa-rss" ></i> Blog</a>
		</li>	
	{{#if visited}}	
<!-- 		<li class="animated lightSpeedIn pricing">
			<a class="" href="{{pathFor 'pricing'}}"><i class="fa fa-fw  fa-wpexplorer" ></i> Pricing</a>
		</li>	 -->
	{{/if}}
	{{#if currentUser}}		
		{{#if isInRole 'admin' 'adm-group'}}
			<li>
				<a class="{{isActiveRoute 'user'}}" href="/adminpage?get=adopters"><i class="fa fa-fw fa-universal-access" aria-hidden="true"></i> {{adopters}}</a>
			</li>
		{{/if}}
		<li>
			<a class="{{isActiveRoute 'user'}}" href="{{pathFor 'user' username=currentUser.username}}"><i class="fa fa-fw fa-universal-access" aria-hidden="true"></i> My</a>
		</li>
		<li>
			<a class="{{isActiveRoute 'profile'}} logout" href="#">
				<b><i class="fa fa-fw  fa-user"> {{userName}}</i></b> Sign Out
			</a>				
		</li>
	{{else}}
<!-- 		<li>
			<a class="{{isActiveRoute 'profile'}}" href="/sign-in">
				<b><i class="fa fa-fw fa-user"> {{userName}}</i></b> Sign In
			</a>				
		</li> -->
	{{/if}}

</template>

<template name="navuser">
	<nav id="navuser" class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header noncollapsed">
				{{#unless mobile}}
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
						<i class="fa fa-cog fontlarge20"></i>
					</button>
				{{/unless}}
				<a class="navbar-brand page-scroll" href="{{pathFor '/#top'}}">
					<span class="light"><img src="{{logo.url}}" alt="{{logo.alt}}" border="0" align="left"/></span>	
				</a>
				&nbsp;
				<span class="navbar-brand">{{>statusonline}}</span>
			</div>

			{{#if mobile}}
				<div class=" navbar-right  noncollapsed">
					<ul class="nav navbar-nav linkblue fontlarge">
<!-- 						<li>
							<a class="{{isActiveRoute 'worldtours'}}" href="{{pathFor 'worldtours' username=username}}"><i class="fa fa-fw fa-globe" ></i></a>
						</li>	 -->
						{{#if currentUser}}
							<li>
								<a class="{{isActiveRoute 'createTour'}}" href="{{pathFor 'createTour'}}"><i class="fa fa-fw fa-plus" aria-hidden="true"></i></a>
							</li>
						{{/if}}
						<li>
						{{#if currentUser}}
							<a class="{{isActiveRoute 'user'}}" href="{{pathFor 'user' username=currentUser.username}}"><i class="fa fa-fw fa-universal-access" aria-hidden="true"></i></a>
							{{else}}
<!-- 								<a class="" href="{{pathFor 'sign-in'}}"><i class="fa fa-fw fa-street-view" aria-hidden="true"></i></a> -->
							{{/if}}
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" id="showMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i id="showMenu" class="fa fa-bars"></i>
							</a>
							<div class="dropdown-menu animated fadeIn" aria-labelledby="navbarDropdownMenuLink">
<!-- 								<li>
									<a class="{{isActiveRoute 'pricing'}}"  href="{{pathFor 'pricing'}}"><i class="fa fa-fw fa-usd" aria-hidden="true"></i> Pricing</a>					
								</li>
								<li>
									<a class="{{isActiveRoute 'faq'}}" href="{{pathFor 'faq'}}"><i class="fa fa-fw fa-question" aria-hidden="true"></i> Help</a>
								</li>		 -->						
								<li>
									<a class="{{isActiveRoute 'blog'}}" href="{{pathFor 'blog'}}"><i class="fa fa-fw fa-rss" aria-hidden="true"></i> Blog</a>
								</li>

<!-- 								<li>
									<a class="{{isActiveRoute 'feedback'}}" href="{{pathFor 'feedback'}}"><i class="fa fa-fw fa-question" aria-hidden="true"></i> Request</a>
								</li> -->
					<!-- 			{{#if currentUser}}		
									<li>
										{{#if avatar}}
											<a class="{{isActiveRoute 'profile'}}" href="{{pathFor 'profile' username=username}}"><img class="header_avatar " src="{{avatar}}" /> Profile</a>
										{{else}}
											<a class="{{isActiveRoute 'profile'}}" href="{{pathFor 'profile' username=username}}"><b><i class="fa fa-user"> {{userName}}</i></b> Profile</a>				
										{{/if}}
									</li>
								{{else}}
									<li>
										<a href="{{pathFor 'sign-in'}}"><b><i class="fa fa-user-secret"></i></b></a>
									</li>
								{{/if}} -->
<!-- 								<li>
									<a class="{{isActiveRoute 'about'}}" href="{{pathFor 'about'}}"><i class="fa fa-fw fa-superpowers" aria-hidden="true"></i> About</a>
								</li>
								<li>
									<a class="{{isActiveRoute 'about'}}" href="/about?get=contact"><i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i> Contact</a>
								</li> -->
					<!-- 			<li>
									<a class="" href="http://bit.ly/virgo360" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
								</li> -->
					<!-- 			<li>
									<a class="{{isActiveRoute 'advanced'}}" href="{{pathFor 'advanced'}}"><i class="fa fa-upload" aria-hidden="true"></i> Advanced</a>
								</li> -->
								<li>
									{{#if isInRole 'admin' 'adm-group'}}
										<a class="{{isActiveRoute 'admin'}}" href="{{pathFor 'adminpage'}}"><b><i class="fa fa-fw fa-lock" aria-hidden="true"></i></b> Admin</a>
									{{/if}}
								</li>
								<li>
									{{# if currentUser}}
										<a href="#" class="logout"><i class="fa fa-fw fa-sign-out"></i> Sign Out</a>
									{{else}}
<!-- 										<a href="{{pathFor 'sign-in'}}"><i class="fa fa-fw fa-user"></i> Sign In</a> -->
									{{/if}}
								</li>
							</div>
						</li>
					</ul>
				</div>
				
			{{else}}
				<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
					{{#if showNews}}
						<div class="productnews shadowstd animated fadeInTop">
							{{> productnews}}
							<button type="button btn-sml" class="close productNews">Close</button>
						</div>
					{{/if}}
					<ul class="nav navbar-nav">
						<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
						<li class="hidden">
							<a href="#page-top"></a>
						</li>

						{{#if productNews}}
							<li>
								<a class="animated fadeInTop productNews linkblue" href="#"><i class="fa fa-newspaper-o" aria-hidden="true" data-toggle="tooltip" title="New product updates"></i></a>
							</li>	
						{{/if}}
						
						{{#with newComment}}
							<li>
								{{#with comment}}
									<a class="animated fadeInTop openComments linkblue" id="{{_id}}" href="#"><i class="fa fa-fw fa-comments-o" aria-hidden="true" data-toggle="tooltip" title="You ve got mail!"></i></a>
								{{/with}}
								{{tour_id.length}} 
							</li>	
						{{/with}}
							
						{{#if isInRole 'admin' 'adm-group'}}
							{{#if newContact}}
								<li>
									<a class="{{isActiveRoute 'adminpage'}} animated fadeInTop" href="/adminpage?get=contacts"><i class="fa fa-fw fa-bullhorn red" aria-hidden="true" data-toggle="tooltip" title="You ve got mail!"></i></a>
								</li>	
							{{/if}}
						{{/if}}

<!-- 						<li>
							<a class="{{isActiveRoute 'worldtours'}}" href="{{pathFor 'worldtours' username=username}}"><i class="fa fa-fw fa-globe" ></i> Explore</a>
						</li>	 -->
						{{#if currentUser}}
							<li>
								<a class="{{isActiveRoute 'createTour'}}" href="{{pathFor 'createTour'}}"><i class="fa fa-fw fa-plus" aria-hidden="true"></i> Create</a>
							</li>
						{{/if}}
						<li>
							{{#if currentUser}}
								<a class="{{isActiveRoute 'user'}}" href="{{pathFor 'user' username=currentUser.username}}"><i class="fa fa-fw fa-universal-access" aria-hidden="true"></i> My</a>
							{{else}}
<!-- 								<a class="" href="{{pathFor 'sign-in'}}"><i class="fa fa-fw fa-street-view" aria-hidden="true"></i> My</a> -->
							{{/if}}
						</li>

<!-- 						<li>
							<a class="{{isActiveRoute 'pricing'}}"  href="{{pathFor 'pricing'}}"><i class="fa fa-fw fa-usd" aria-hidden="true"></i> Pricing</a>					
						</li> -->
						
						<li>
							<a class="{{isActiveRoute 'pricing'}}" href="{{pathFor 'blog'}}"><i class="fa fa-fw  fa-rss" ></i> Blog</a>
						</li>

						{{#unless mobile}}
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" id="showMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i id="showMenu" class="fa fa-bars"></i>
								</a>
								<div class="dropdown-menu animated fadeIn" aria-labelledby="navbarDropdownMenuLink">
<!-- 									<li>
										<a class="{{isActiveRoute 'pricing'}}"  href="{{pathFor 'pricing'}}"><i class="fa fa-fw fa-usd" aria-hidden="true"></i> Pricing</a>					
									</li> -->
<!-- 									<li>
										<a class="{{isActiveRoute 'faq'}}" href="/faq"><i class="fa fa-fw fa-question" aria-hidden="true"></i> Help</a>
									</li> -->
<!-- 									<li>
										<a class="{{isActiveRoute 'feedback'}}" href="{{pathFor 'feedback'}}"><i class="fa fa-fw fa-question" aria-hidden="true"></i> Request</a>
									</li> -->
<!-- 									<li>
										<a class="{{isActiveRoute 'about'}}" href="/about"><i class="fa fa-fw fa-superpowers" aria-hidden="true"></i> About</a>
									</li>
									<li>
										<a class="{{isActiveRoute 'about'}}" href="/about?get=contact"><i class="fa fa-fw fa-envelope-o nonmobile" aria-hidden="true"></i> Contact</a>
									</li>									
									<li>
										<a class="productNews" href="#" ><i class="fa fa-fw fa-rss" aria-hidden="true"></i> Updates</a>
									</li> -->
									
									{{#if isInRole 'admin' 'adm-group'}}
										<li>
											<a class="{{isActiveRoute 'admin'}}" href="{{pathFor 'adminpage'}}"><i class="fa fa-fw fa-lock" aria-hidden="true"></i> Admin</a>
										</li>
										<li>
											<a class="{{isActiveRoute 'pushit'}}" href="{{pathFor 'pushit'}}"><i class="fa fa-fw fa-arrow-up" aria-hidden="true"></i> Push it</a>
										</li>
									{{/if}}
									
									<li>
										{{# if currentUser}}
											<a href="#" class="logout"><i class="fa fa-fw fa-sign-out"></i> Sign Out</a>
										{{else}}
<!-- 											<a href="{{pathFor 'sign-in'}}"><i class="fa fa-fw fa-user"></i> Sign In</a> -->
										{{/if}}
									</li>
								</div>
							</li>
						{{/unless}}

					</ul>
				</div>
				<!-- /.navbar-collapse -->			
			{{/if}}

		</div>
		<!-- /.container -->
	</nav>
</template>

<template name="navboxuser">
	<!-- Navigation -->
	<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-fw  fa-bars"></i></a>
		<div id="mySidenav" class="sidenav">
					<a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-fw fa-times"></i></a>
					<a class="page-scroll h3" href="/#top" >Home</a>
					<a class="page-scroll h3" href="/#about" >About</a>

					<li>
							<a class="page-scroll h3" href="#portfolio" >Portfolio</a>
					</li>
					<li>
							<a class="page-scroll h3" href="#services" >Services</a>
					</li>
					<li>
							<a class="page-scroll h3" href="#contact" >Contact</a>
					</li>
					{{#if currentUser}}		
						<li>
							{{#if avatar}}
								<a href="{{pathFor 'profile' username=username}}"><img class="header_avatar" src="{{avatar}}" /></a>
							{{else}}
								<a href="{{pathFor 'profile' username=username}}"><b><i class="fa fa-fw fa-user"> {{userName}}</i></b></a>				
							{{/if}}
						</li>
					{{else}}
						<li>
							<a href="{{pathFor 'sign-in'}}"><b><i class="fa fa-fw fa-user-secret"></i></b></a>
						</li>
					{{/if}}
					{{#if isInRole 'admin' 'adm-group'}}
						<li>
							<a href="{{pathFor 'adminpage'}}"><b><i class="fa fa-fw fa-lock" aria-hidden="true"></i></b></a>
						</li>
					{{/if}}
			</div>

</template>
