<template name="searchBox">
<!-- 	{{> EasySearch.Input index=userIndex attributes=inputAttributes}} -->

	{{> EasySearch.Input indexes=searchIndexes attributes=inputAttributes}}
<!--   {{#EasySearch.IfInputEmpty index=searchIndexes }}

  {{else}}
		{{#EasySearch.Each index=userIndex }}
			<div>
				<a href="/username/{{username}}">{{username}}</a>
			</div>
		{{/EasySearch.Each}}
		{{#EasySearch.Each index=tourIndex }}
			<div>
				<a href="/tour/{{_id}}">{{title}}</a>
			</div>
		{{/EasySearch.Each}}
  {{/EasySearch.IfInputEmpty}} -->

	{{#EasySearch.IfInputEmpty indexes=searchIndexes }}
	
	{{else}}	
		<div class='topsearch text-left'>
			{{#EasySearch.Each index=userIndex }}
				<div>
					<a href="/user/{{username}}">@{{username}}</a>
				</div>
			{{/EasySearch.Each}}
			{{#EasySearch.Each index=tourIndex }}
				<div>
					<a href="/tour/{{_id}}">{{title}}</a>
				</div>
			{{/EasySearch.Each}}			
			{{#EasySearch.Each index=tagsIndex }}
				<div>
					<a href="/tour/{{_id}}">#{{tags}}</a>
				</div>
			{{/EasySearch.Each}}
		</div>
	{{/EasySearch.IfInputEmpty}}
	
<!-- 	{{#EasySearch.IfInputEmpty index=searchIndexes }}
	
	{{else}}
		{{#EasySearch.Each index=tourIndex }}
			<div>
				<a href="/tour/{{_id}}">{{title}}</a>
			</div>
		{{/EasySearch.Each}}
	{{/EasySearch.IfInputEmpty}} -->
		
</template>