<template name="termsCheckbox">
  <div class="at-input inline field">
    <div class="ui checkbox">
      <input type="{{type}}" id="at-field-{{_id}}" name="at-field-{{_id}}" {{disabled}}>
      <label for="at-field-{{_id}}">
        I've read and agree to the <a href="/about">Terms and Conditions</a>
      </label>
    </div>
  </div>
</template>

<template name="mailchimpCheckbox">
  <div class="at-input inline field">
    <div class="ui checkbox">
      <input type="{{type}}" id="at-field-{{_id}}" name="at-field-{{_id}}" {{disabled}}>
      <label for="at-field-{{_id}}">
        I am agree to receive infrequent newsletter.
      </label>
    </div>
  </div>
</template>