<template name="layout">

	{{#with openComments}}
		{{> commentsSide}}
	{{/with}}
		
	{{> Template.dynamic template=nav}}

	{{> Template.dynamic template=main}}
	
	{{> Template.dynamic template=footer}}
	
	{{#if botEnabled}}
		{{> chat}}
	{{/if}}
	
</template>


<template name="layout404">

	{{> Template.dynamic template=main}}
	
	{{> Template.dynamic template='footer'}}

</template>