/* .sarah-wrapper .sarah-launch-button {
	background-color: #20B2BB !important;
}
.sarah-wrapper .sarah-launch-button svg path {
	fill: #ffffff !important;
}
.sarah-wrapper .sarah-launch-button .sarah-button-text {
	color: #ffffff !important;
}
.sarah-wrapper .sarah-top-bar {
	background-color: #20B2BB !important;
	color: #ffffff !important;
	border-color: #1c9ea6 !important;
}
.sarah-wrapper .sarah-top-bar-text {
	color: #ffffff !important;
}
.sarah-wrapper .sarah-top-bar-arrow {
	fill: #ffffff !important;
}
.sarah-wrapper .sarah-end-chat-button {
	color: #ffffff !important;
	background-color: rgba(24, 137, 144, 0.5) !important;
}
.sarah-wrapper .sarah-end-chat-button:hover {
	background-color: #188990 !important;
}
.sarah-wrapper .sarah-container .sarah-visitor-message:not(.sarah-message-trans-bg) {
	background-color: rgba(32, 178, 187, 0.25) !important;
}
.sarah-wrapper .sarah-container .sarah-form-send-button {
	background-color: #20B2BB !important;
	color: #ffffff !important;
}
.sarah-wrapper .sarah-container .sarah-feedback-form-button {
	background-color: #20B2BB !important;
	color: #ffffff !important;
}
.sarah-wrapper .sarah-container .sarah-restart-button {
	background-color: #20B2BB !important;
	color: #ffffff !important;
}
.sarah-wrapper .sarah-container .sarah-branding-panel .sarah-branding-cancel-button {
	background-color: #20B2BB !important;
	border: none !important;
	color: #ffffff !important;
}
.sarah-wrapper .sarah-container .sarah-branding-panel .sarah-branding-go-button {
	border: none !important;
	background: rgba(32, 178, 187, 0.35) !important;
}
.sarah-wrapper .sarah-container .sarah-send-transcript-container .sarah-send-transcript-form.sarah-inline-form-valid .sarah-form-input-container {
	border-color: #20B2BB !important;
}
.sarah-wrapper .sarah-container .sarah-send-transcript-container .sarah-send-transcript-form.sarah-inline-form-valid .sarah-send-icon {
	fill: #20B2BB !important;
}
.sarah-wrapper .sarah-container .sarah-visitor-message:not(.sarah-message-has-border) {
	border: none !important;
}
.sarah-wrapper .sarah-launch-button{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif !important;
	font-size: 100% !important;
	position: fixed !important;
	bottom: 15px !important;
	right: 20px !important;
	left: auto !important;
	height: 48px !important;
	width: auto !important;
	z-index: 10000000000000 !important;
	background: #2d2d2d !important;
	border: 0 !important;
	border-radius: 100px !important;
	box-shadow: 0 3px 15px 0 rgba(0,0,0,0.25) !important;
	box-sizing: border-box !important;
	padding: 0 20px !important;
	transition: all .4s,bottom .8s ease-in-out !important;
	cursor: pointer !important;
	outline: none !important;
	display: inline-block !important;
	margin: 0 !important;
	-webkit-font-smoothing: antialiased !important;
	-webkit-tap-highlight-color: rgba(0,0,0,0) !important;
	animation-name: loadBubble;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: .2s;
}
 */
.sarah-container {
    background: #fff !important;
    position: fixed !important;
    bottom: 0 !important;
    right: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    color: #000 !important;
    z-index: 100000000000 !important;
    zoom: 0 !important;
    transition: .3s ease-in-out !important;
    -webkit-font-smoothing: antialiased !important;
    position: absolute;
    width: 350px !important;
    height: 450px !important;
    max-height: 95% !important;
    border-radius: 10px 10px 0 0 !important;
    top: inherit !important;
    transition: all .6s ease-in-out,width .2s ease-in-out,top .4s ease-in-out !important;
    right: 20px !important;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.15) !important;
    font-size: medium !important;
    line-height: 1 !important;
    direction: ltr !important;
    text-align: left !important;
    text-align: start !important;
    font-family: "Times New Roman",Times,serif !important;
    color: #000 !important;
    font-style: normal !important;
    font-weight: normal !important;
    text-decoration: none !important;
    list-style-type: disc !important;
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif !important;
}

.sarah-wrapper .sarah-launch-button{
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif !important;
    font-size: 100% !important;
    position: fixed !important;
    bottom: 15px !important;
    right: 20px !important;
    left: auto !important;
    height: 48px !important;
    width: auto !important;
    z-index: 10000000000000 !important;
		background: #20b2bb !important;
    border: 0 !important;
    border-radius: 100px !important;
    box-shadow: 0 3px 15px 0 rgba(0,0,0,0.25) !important;
    box-sizing: border-box !important;
    padding: 0 20px !important;
    transition: all .4s,bottom .8s ease-in-out !important;
    cursor: pointer !important;
    outline: none !important;
    display: inline-block !important;
    margin: 0 !important;
    -webkit-font-smoothing: antialiased !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
    animation-name: loadBubble;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: .2s;
}

.sarah-launch-button svg {
    width: 28px !important;
    display: inline-block !important;
    height: 48px !important;
}
.sarah-notification-badge {
    background: #ea4141 !important;
    position: absolute !important;
    top: -3px !important;
    right: -3px !important;
    height: 17px !important;
    width: 17px !important;
    border-radius: 100px !important;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5) !important;
}

.sarah-container .sarah-form-conversation-container {
    bottom: 0 !important;
}

.sarah-container .sarah-no-message-form {
    height: calc(100% - 62px) !important;
}
@media screen and (min-width: 1100px){
	.sarah-container .sarah-conversation-container, .sarah-container .sarah-feedback-container, .sarah-container .sarah-send-transcript-container {
			height: calc(100% - 115px) !important;
	}
}
@media screen and (min-width: 600px){
	.sarah-container .sarah-conversation-container, .sarah-container .sarah-feedback-container, .sarah-container .sarah-send-transcript-container {
			top: 40px !important;
			height: calc(100% - 120px) !important;
	}
}
.sarah-container .sarah-top-bar{
	background: #20b2bb !important;
	box-shadow: none !important;
	height: 52px !important;
	/* width: 100% !important; */
	/* position: absolute !important; */
	top: 0 !important;
	box-sizing: border-box !important;
	border-radius: 8px 8px 0 0 !important;
	height: 40px !important;
}
.sarah-container .sarah-top-bar-button{
    height: 100% !important;
    width: 60px !important;
    float: right !important;
    padding: 11px 22px !important;
    box-sizing: border-box !important;
    cursor: pointer !important;
    transition: all ease-out .15s !important;
}
.sarah-container .sarah-top-bar-text{
    font-size: .95em !important;
    line-height: 40px !important;
    color: #fff !important;
    font-size: 1em !important;
    font-weight: 500 !important;
    letter-spacing: .2px !important;
    /* line-height: 52px !important; */
    text-decoration: none !important;
    padding: 0 0 0 20px !important;
    max-width: 70% !important;
    overflow: hidden !important;
    height: 60px !important;
    white-space: nowrap !important;
    float: left !important;
    text-overflow: ellipsis !important;
}
.sarah-container .sarah-conversation-container{
    height: calc(100% - 115px) !important;
		top: 40px !important;
    width: 100% !important;
    overflow-y: auto !important;
    padding: 0 10px !important;
    top: 52px !important;
    box-sizing: border-box !important;
/*     position: relative !important; */
    bottom: 52px !important;
    box-sizing: border-box !important;
    height: calc(100% - 135px) !important;
}

.sarah-container .sarah-generated-message{
    font-size: .95em !important;
    color: #70777e !important;
    text-align: center !important;
    line-height: 1.2em !important;
    /* margin: .7em 0 1em !important; */
}

.sarah-container .sarah-footer-form-container{
    width: 100% !important;
    position: absolute !important;
    bottom: 25px !important;
    box-sizing: border-box !important;
    border: 1px solid #e8e9eb !important;
    transition: .6s ease-in-out !important;
    width: calc(100% - 20px) !important;
    border-radius: 4px !important;
    margin: 0 10px !important;
}

.sarah-container .sarah-chat-input{
		padding: 15px 55px 15px 15px !important;
    font-size: .9em !important;
    min-height: 45px !important;
    height: 45px !important;
    background: #f2f3f4 !important;
    color: #333 !important;
    min-height: 52px !important;
    height: 52px !important;
    width: 100% !important;
    font-size: 1em !important;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif !important;
    box-sizing: border-box !important;
    border: 0 !important;
    overflow-x: hidden !important;
		overflow-y: hidden;
    margin: 0 !important;
    line-height: 1.2em !important;
    resize: none !important;
    max-height: 150px !important;
    display: block !important;
    transition: .6s ease-in-out !important;
}

.sarah-container .sarah-chat-send-button {
    position: absolute !important;
    bottom: 0 !important;
    right: 0 !important;
    z-index: 10 !important;
    height: 100%;
    width: 48px !important;
    border: 0 !important;
    background: none !important;
    box-shadow: none !important;
    display: block;
    padding: 10px;
}

.sarah-container svg {
		fill: #c7cacd;
		position: initial !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    box-shadow: none !important;
    border: none !important;
    opacity: 1 !important;
    width: 100%;
		height: 100%;
}

.sarah-container .sarah-branding-link{
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif !important;
    position: absolute !important;
    margin: 0 0 0 2px !important;
    text-align: left !important;
    bottom: 2px !important;
}
.sarah-container .sarah-branding-link a{
    background: transparent !important;
    color: #888f95 !important;
    font-size: .95em !important;
    font-weight: 500 !important;
    padding: 5px 10px !important;
    border-radius: 15px !important;
    text-decoration: none !important;
    transition: ease-in-out .05s !important;
    display: inline-block !important;
    transition: all .6s ease-in-out !important;
}

.sarah-wrapper .sarah-container .sarah-visitor-message:not(.sarah-message-has-border) {
    border: none !important;
}

.sarah-container .sarah-message-block {
    position: relative !important;
    margin: 0 0 10px !important;
    display: inline-block !important;
    width: 100% !important;
}

.sarah-container .sarah-visitor-message, .sarah-container .sarah-visitor-message:first-child, .sarah-container .sarah-visitor-message:last-child, .sarah-container .sarah-message-group .sarah-visitor-message:only-child {
    border: 1px solid #edeeef !important;
    transition: .6s ease-in-out !important;
}

.sarah-container .sarah-visitor-message{
	float: right !important;
	background-color: rgba(32, 178, 187, 0.25) !important;
}
.sarah-container .sarah-operator-message{
	float: left !important;
	background: #edeeef !important;
}

.sarah-container .sarah-operator-message, .sarah-container .sarah-operator-message:first-child, .sarah-container .sarah-operator-message:last-child, .sarah-container .sarah-message-group .sarah-operator-message:only-child, .sarah-container .sarah-visitor-message, .sarah-container .sarah-visitor-message:first-child, .sarah-container .sarah-visitor-message:last-child, .sarah-container .sarah-message-group .sarah-visitor-message:only-child, .sarah-container .sarah-form-message, .sarah-container .sarah-feed-button {
    color: #333 !important;
    padding: 10px 12px !important;
    border-radius: 10px !important;
    font-size: .95em !important;
    line-height: 1.2em !important;
    display: inline-block !important;
    margin: 0 0 3px !important;
    max-width: 80% !important;
    word-wrap: break-word;
    clear: both !important;
    overflow: hidden !important;
}

/* .sarah-container .sarah-conversation-container, .sarah-container .sarah-feedback-container, .sarah-container .sarah-send-transcript-container {
    width: 100% !important;
    overflow-y: auto !important;
    padding: 0 10px !important;
    top: 52px !important;
    box-sizing: border-box !important;
    position: relative !important;
    bottom: 52px !important;
    box-sizing: border-box !important;
    height: calc(100% - 135px) !important;
} */

/* .sarah-container, .sarah-container h3, .sarah-container h5, .sarah-container p, .sarah-container h1, .sarah-container dl, .sarah-container dt, .sarah-container h6, .sarah-container ol, .sarah-container form, .sarah-container option, .sarah-container pre, .sarah-container div, .sarah-container h2, .sarah-container caption, .sarah-container h4, .sarah-container ul, .sarah-container address, .sarah-container blockquote, .sarah-container dd, .sarah-container fieldset, .sarah-container hr, .sarah-container article, .sarah-container dialog, .sarah-container figure, .sarah-container footer, .sarah-container header, .sarah-container hgroup, .sarah-container menu, .sarah-container nav, .sarah-container section, .sarah-container audio, .sarah-container video, .sarah-container colgroup, .sarah-container main, .sarah-container progress, .sarah-container summary {
    display: block !important;
}
 */
/* .sarah-container, .sarah-container h1, .sarah-container h2, .sarah-container h3, .sarah-container h4, .sarah-container h5, .sarah-container h6, .sarah-container p, .sarah-container td, .sarah-container dl, .sarah-container tr, .sarah-container dt, .sarah-container ol, .sarah-container form, .sarah-container select, .sarah-container option, .sarah-container pre, .sarah-container div, .sarah-container table, .sarah-container th, .sarah-container tbody, .sarah-container tfoot, .sarah-container caption, .sarah-container thead, .sarah-container ul, .sarah-container li, .sarah-container address, .sarah-container blockquote, .sarah-container dd, .sarah-container fieldset, .sarah-container iframe, .sarah-container strong, .sarah-container legend, .sarah-container em, .sarah-container summary, .sarah-container cite, .sarah-container span, .sarah-container input, .sarah-container sup, .sarah-container label, .sarah-container dfn, .sarah-container object, .sarah-container big, .sarah-container q, .sarah-container samp, .sarah-container acronym, .sarah-container small, .sarah-container img, .sarah-container strike, .sarah-container code, .sarah-container sub, .sarah-container ins, .sarah-container textarea, .sarah-container button, .sarah-container var, .sarah-container a, .sarah-container abbr, .sarah-container applet, .sarah-container del, .sarah-container kbd, .sarah-container tt, .sarah-container b, .sarah-container i, .sarah-container hr, .sarah-container article, .sarah-container aside, .sarah-container figure, .sarah-container figcaption, .sarah-container footer, .sarah-container header, .sarah-container menu, .sarah-container nav, .sarah-container section, .sarah-container time, .sarah-container mark, .sarah-container audio, .sarah-container video, .sarah-container area, .sarah-container canvas, .sarah-container colgroup, .sarah-container col, .sarah-container datalist, .sarah-container main, .sarah-container map, .sarah-container meta, .sarah-container optgroup, .sarah-container output, .sarah-container progress {
    background-attachment: scroll !important;
    background-color: transparent !important;
    background-image: none !important;
    background-position: 0 0 !important;
    background-repeat: repeat !important;
    border-color: #000 !important;
    border-color: currentColor !important;
    border-radius: 0 !important;
    border-style: none !important;
    border-width: medium !important;
    bottom: auto !important;
    clear: none !important;
    clip: auto !important;
    color: inherit !important;
    counter-increment: none !important;
    counter-reset: none !important;
    cursor: auto !important;
    direction: inherit !important;
    display: inline !important;
    float: none !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-style: inherit !important;
    font-variant: normal !important;
    font-weight: inherit !important;
    height: auto !important;
    left: auto !important;
    letter-spacing: normal !important;
    line-height: inherit !important;
    list-style-type: inherit !important;
    list-style-position: outside !important;
    list-style-image: none !important;
    margin: 0 !important;
    max-height: none !important;
    max-width: none !important;
    min-height: 0 !important;
    min-width: 0 !important;
    opacity: 1;
    outline: invert none medium !important;
    overflow: visible !important;
    padding: 0 !important;
    position: static !important;
    quotes: "" "" !important;
    right: auto !important;
    table-layout: auto !important;
    text-align: inherit !important;
    text-indent: 0 !important;
    text-transform: none !important;
    top: auto !important;
    unicode-bidi: normal !important;
    vertical-align: baseline !important;
    visibility: inherit !important;
    white-space: normal !important;
    width: auto !important;
    word-spacing: normal !important;
    z-index: auto !important;
    background-origin: padding-box !important;
    background-origin: padding-box !important;
    background-clip: border-box !important;
    background-size: auto !important;
    border-image: none !important;
    border-radius: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    box-sizing: content-box !important;
    column-count: auto !important;
    column-gap: normal !important;
    column-rule: medium none #000 !important;
    column-span: none !important;
    column-width: auto !important;
    font-feature-settings: normal !important;
    overflow-x: visible !important;
    overflow-y: visible !important;
    hyphens: manual !important;
    perspective: none !important;
    perspective-origin: 50% 50% !important;
    backface-visibility: visible !important;
    text-shadow: none !important;
    transition: all 0s ease 0s !important;
    transform: none !important;
    transform-origin: 50% 50% !important;
    transform-style: flat !important;
    word-break: normal !important;
}
 */



/* .sarah-container {
    font-size: medium !important;
    line-height: 1 !important;
    direction: ltr !important;
    text-align: left !important;
    text-align: start !important;
    font-family: "Times New Roman",Times,serif !important;
    color: #000 !important;
    font-style: normal !important;
    font-weight: normal !important;
    text-decoration: none !important;
    list-style-type: disc !important;
} */

/* .sarah-container, .sarah-container h1, .sarah-container h2, .sarah-container h3, .sarah-container h4, .sarah-container h5, .sarah-container h6, .sarah-container p, .sarah-container td, .sarah-container dl, .sarah-container tr, .sarah-container dt, .sarah-container ol, .sarah-container form, .sarah-container select, .sarah-container option, .sarah-container pre, .sarah-container div, .sarah-container table, .sarah-container th, .sarah-container tbody, .sarah-container tfoot, .sarah-container caption, .sarah-container thead, .sarah-container ul, .sarah-container li, .sarah-container address, .sarah-container blockquote, .sarah-container dd, .sarah-container fieldset, .sarah-container iframe, .sarah-container strong, .sarah-container legend, .sarah-container em, .sarah-container summary, .sarah-container cite, .sarah-container span, .sarah-container input, .sarah-container sup, .sarah-container label, .sarah-container dfn, .sarah-container object, .sarah-container big, .sarah-container q, .sarah-container samp, .sarah-container acronym, .sarah-container small, .sarah-container img, .sarah-container strike, .sarah-container code, .sarah-container sub, .sarah-container ins, .sarah-container textarea, .sarah-container button, .sarah-container var, .sarah-container a, .sarah-container abbr, .sarah-container applet, .sarah-container del, .sarah-container kbd, .sarah-container tt, .sarah-container b, .sarah-container i, .sarah-container hr, .sarah-container article, .sarah-container aside, .sarah-container figure, .sarah-container figcaption, .sarah-container footer, .sarah-container header, .sarah-container menu, .sarah-container nav, .sarah-container section, .sarah-container time, .sarah-container mark, .sarah-container audio, .sarah-container video, .sarah-container area, .sarah-container canvas, .sarah-container colgroup, .sarah-container col, .sarah-container datalist, .sarah-container main, .sarah-container map, .sarah-container meta, .sarah-container optgroup, .sarah-container output, .sarah-container progress {
    background-attachment: scroll !important;
    background-color: transparent !important;
    background-image: none !important;
    background-position: 0 0 !important;
    background-repeat: repeat !important;
    border-color: #000 !important;
    border-color: currentColor !important;
    border-radius: 0 !important;
    border-style: none !important;
    border-width: medium !important;
    bottom: auto !important;
    clear: none !important;
    clip: auto !important;
    color: inherit !important;
    counter-increment: none !important;
    counter-reset: none !important;
    cursor: auto !important;
    direction: inherit !important;
    display: inline !important;
    float: none !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-style: inherit !important;
    font-variant: normal !important;
    font-weight: inherit !important;
    height: auto !important;
    left: auto !important;
    letter-spacing: normal !important;
    line-height: inherit !important;
    list-style-type: inherit !important;
    list-style-position: outside !important;
    list-style-image: none !important;
    margin: 0 !important;
    max-height: none !important;
    max-width: none !important;
    min-height: 0 !important;
    min-width: 0 !important;
    opacity: 1;
    outline: invert none medium !important;
    overflow: visible !important;
    padding: 0 !important;
    position: static !important;
    quotes: "" "" !important;
    right: auto !important;
    table-layout: auto !important;
    text-align: inherit !important;
    text-indent: 0 !important;
    text-transform: none !important;
    top: auto !important;
    unicode-bidi: normal !important;
    vertical-align: baseline !important;
    visibility: inherit !important;
    white-space: normal !important;
    width: auto !important;
    word-spacing: normal !important;
    z-index: auto !important;
    background-origin: padding-box !important;
    background-origin: padding-box !important;
    background-clip: border-box !important;
    background-size: auto !important;
    border-image: none !important;
    border-radius: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    box-sizing: content-box !important;
    column-count: auto !important;
    column-gap: normal !important;
    column-rule: medium none #000 !important;
    column-span: none !important;
    column-width: auto !important;
    font-feature-settings: normal !important;
    overflow-x: visible !important;
    overflow-y: visible !important;
    hyphens: manual !important;
    perspective: none !important;
    perspective-origin: 50% 50% !important;
    backface-visibility: visible !important;
    text-shadow: none !important;
    transition: all 0s ease 0s !important;
    transform: none !important;
    transform-origin: 50% 50% !important;
    transform-style: flat !important;
    word-break: normal !important;
} */

.sarah-wrapper {
    font-size: 11px !important;
}

.sarah-wrapper *::after, .sarah-wrapper *::before {
    display: none !important;
}

.sarah-wrapper *::after, .sarah-wrapper *::before {
    display: none !important;
}
