/*!
 * Start Bootstrap - Grayscale v3.3.7+1 (http://startbootstrap.com/template-overviews/grayscale)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
body {
  width: 100%;
  height: 100%;
  /* font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  color: white;
	color: #454545;
  background-color: black;
	background-color: #eee;
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
/*   font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-weight: 700;
  letter-spacing: 1px;
}
p {
/*   margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5; */
}
@media (min-width: 768px) {
/*   p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  } */
}
a {
/*   color: #42DCA3; */
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
/*   color: #1d9b6c; */
}
.light {
  font-weight: 400;
}
.navbar-brand {    
	padding: 5px 15px;
}
.navbar-brand img{
/* 	width: 150px; */
	max-height: 44px;
	max-width: 40vw;
}
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  /* font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  background-color: transparent;
	background: transparent;
	-webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
	transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.navbar-custom .navbar-toggle {
  color: white;
	color: rgba(102, 102, 102, 0.7);
  background-color: rgba(255, 255, 255, 0.01);
  font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
	font-size: 40px;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
/*   color: white;
	color: rgba(0,0,0,0.7); */
	color: #777;
	text-shadow: 0px 2px 11px rgba(0, 0, 0, 0.17);
}
.navbar-custom a:hover {
  outline: none;
	font-weight: 700;
  background-color: transparent;
  color: black;
	text-shadow: 2px 2px 11px rgba(0, 0, 0, 0.5);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
	text-shadow: 0px 2px 11px rgba(0, 0, 0, 0.5)
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
	display: inline;
	line-height: 40px;
/* 	vertical-align: top; */
}
@media (max-width: 767px) {
	#VRnav .navbar-nav {
		max-width: 90vw;
	}
	#VRnav .navbar-header {
		max-width: 50%;
	}
	#VRnav .navbar-header, #navuser .navbar-header {
		position: absolute;
		z-index:10;
	}
	#VRnav li, #VRnav .navbar-header , .noncollapsed li{
		float: left;
		position: inherit;
	}
	.noncollapsed .open li{
		float: none;
		position: relative;
	}
	.noncollapsed .dropdown-menu{
		background-color: #eee !important;
    position: absolute !important;
    top: 100%;
    right: 0;	
	}	
	.noncollapsed .dropdown-menu li{
		margin: 10px;
	}
	#VRnav .navbar-right, .noncollapsed  .navbar-right{
		float: right;
		padding-right: 10px;
		position: absolute;
    right: 5px;
		margin-right: -30px !important;
	}	
	.navbar-right{
		float: right;
		padding-right: 10px;
		margin-right: 10px;
	}	
	.navbar-left{
		margin: 7.5px 0px;
	}
	.navbar-custom .nav li a {
		font-size: 24px;
		font-size: 5vmin;
		padding-left: 5px;
		padding-right: 5px;
	}
/* 	.navbar-nav {
			margin: 7.5px 0px;
	} */
	.navbar-toggle {
		font-size: 24px;
	}
	.navbar-fixed-top .navbar-collapse {
		max-height: 100vh;
		background-color: rgba(238, 238, 238, 0.95) !important;
	}

}
.navbar-custom .nav li a:hover {
  outline: none;
	font-weight: 700;
  background-color: transparent;
	text-shadow: 2px 2px 11px rgba(0, 0, 0, 0.5);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
	text-shadow: 0px 2px 11px rgba(0, 0, 0, 0.5);
}
.navbar-custom a:hover {
  color: black;
}
.navbar-custom .nav li .active {
  outline: none;
}

.navbar-custom .nav li .active a {
  background-color: transparent !important;
	background: transparent !important;
	color: black;
}
.navbar-custom .nav li .active a:focus {
  background-color: transparent !important;
	background: transparent !important;
	color: black;
}
.navbar-custom .nav li .active a:hover {
  color: black;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.nav > li > a:hover, .nav > li > a:focus {
	color: black
	text-decoration: none;
	background-color: transparent;
}
.nav > li > a:focus, .nav > li > a:active {
	text-shadow: 2px 2px 11px #337ab7;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: black;
		background: rgba(238, 238, 238, 0.85);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
	.navbar-right{
		margin-right: -30px;
	}
}
.collapse.in{
	background: rgba(255, 255, 255, 0.85);
	-webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
	transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.logo img {
	max-height: 100px;
	max-width: 40vw;
}

.intro {
  display: table;
  width: 100%;
  height: auto;
/*   padding: 100px 0; */
  text-align: center;
  color: white;
	color: rgba(0,0,0,0.7);
/*   -o-background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center; */
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body-vir{
  display: table-cell;
  vertical-align: bottom;
}
.intro .intro-body .brand-heading {
  font-size: 40px;
}
.intro .intro-body .intro-text {
  font-size: 18px;
}
.intro .plate {
	border-radius: 25px;
	padding-top: 10px;
	padding-bottom: 30px;
	transition: background 5s linear;
	border-radius: 25px;
	padding-top: 10px;
	padding-bottom: 30px;
	/* background: rgba(240, 248, 255, 0.4); */
}
/* .introre p{
	animation: plate 15s infinite steps(1);
	transition: background 5s linear;
	border-radius: 25px;
	padding-top: 10px;
	padding-bottom: 30px;
	background: rgba(240, 248, 255, 0.4);
} */
.introre p{
	font-size: 50px;
}
.introre .plate{
	animation: plate 15s infinite steps(1);
	background: rgba(240, 248, 255, 0.4);
}
@media (max-width: 767px) {
	.introre p{
		font-size: 28px;
	}
}
/* .introvrg {
	opacity: 0.8;
	filter: blur(1px);
} */
/* .introvrg::after {
	opacity: 0.6;
	filter: blur(1px);
} */
.intro::after{
	display: block;
	content: " ";
	opacity: 0.4;
	position: absolute;
/* 	background-size: cover;
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(1px); */
	top: 0;
	bottom: 0;
	margin: auto;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.introvrg::after{
	background: rgba(238, 238, 238, 0.60) url(/img/vr_bck8.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}
.introre::after {
/* 	background: rgba(238, 238, 238, 0.60) url(/img/vr_bck8.jpg) no-repeat center;
	background-size: cover; */
}
.intro1::after {
	opacity: 0.9;
	background: rgba(238, 238, 238, 1) url('http://res.cloudinary.com/ufg/image/upload/v1505162212/hackresume/career-hack-6.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.intro2::after {
	opacity: 0.4;
/* 	background: rgba(238, 238, 238, 1) url('http://res.cloudinary.com/ufg/image/upload/hackresume/resume_stack.jpg') no-repeat; */
	background: rgba(238, 238, 238, 1) url('http://res.cloudinary.com/ufg/image/upload/hackresume/resume_stack5.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
@media (max-width: 767px) {
	.mobileafter{
		background: #ddd no-repeat center;
	}
	.mobileafter::after{
		opacity: 0.5;
		background: rgba(238, 238, 238, 1) url('http://res.cloudinary.com/ufg/image/upload/v1505162212/hackresume/career-hack-6.jpg') no-repeat;
		background-position: center;
		background-size: cover;
	}
	.mobilenone{
		display: none;
	}
}
.landingbfont{
	font-family: 'Muli', sans-serif;
}
.landingafont{
	font-family: 'Baloo Bhaijaan', cursive;
}

/* Landing */
/* section{
	height: -webkit-fill-available;
} */

#top{	
	transition: background 1s linear;
	background-attachment: fixed;
	background-color: #eee;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
	min-height: 100%;
}
#top::before{
	opacity: 0.6;
}

#topre{
	animation: bckgr 15s infinite steps(50);
	transition: background 5s linear;
	background-attachment: fixed;
	background-color: #eee;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
	min-height: 100%;
}


@-webkit-keyframes bckgr {
	0% {
		opacity: 1;
		background-image: url('/img/ikea1.jpg');
	}
	50% {
		opacity: 1;
		background-image: url('/img/ikea2.jpg');
	}
	100% {
		opacity: 1;
		background-image: url('/img/ikea1.jpg');
	}
}
@keyframes bckgr {
	0% {
		opacity: 1;
		background-image: url('/img/ikea1.jpg');
	}
	50% {
		opacity: 1;
		background-image: url('/img/ikea2.jpg');
	}
	100% {
		background-image: url('/img/ikea1.jpg');
	}
}
@keyframes plate {
	0% {
		color: black;
	}
	50% {
		color: yellow;
	}
	100% {
		color: black;
	}
}

#solutions {
	position: relative;
	display: block;
	opacity: 0.99;
	/* min-height: 100vh; */
	overflow: hidden;
	position: relative;
}
.solutions {
	background: rgba(204, 204, 204, 0.37); 
}
.solutions::before{
	opacity: 0.6;
/* 	filter: blur(3px); */
}
.solutions::after{
	display: block;
	content: " ";
	opacity: 0.4;
	position: absolute;
	/* background: rgba(204, 204, 204, 0.37); */
	/* background-attachment: fixed; */
	background-image: url(/img/vr_bck5.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	/* background-position: 50% 0; */
	-ms-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	/* -webkit-background-size: cover; */
	background-size: cover;
	/* background-color: hsla(0,0%,100%,0.50); */
	/* background-blend-mode: overlay; */
	/* background-size: 100%; */
	/* -webkit-filter: blur(3px); */
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(1px);
	top: 0;
	bottom: 0;
	margin: auto;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.solutionsre{
	background: rgb(28, 52, 86);
	color: white;
}
#iphone6{
	margin-top: 55px;
	margin-bottom: 55px;
	overflow-x: hidden;
}
@media (max-width: 767px) {
	#iphone6{
		margin: 0
	}
}
#iphone6 .fontsize{
	font-size: 2vmax;
/* 	color: rgba(49, 112, 143, 0.85); */
}
#iphone6 .img50{
	max-width: 12vmax;
}
#loading{
	width: 100%;
	height: 100%;
	padding: 100px 0;
	text-align: center;
	color: white;
	background-color: black;
	color: rgba(0,0,0,0.7);
}
#contact{
	background: rgba(204, 204, 204, 0.37); */
	position: relative;
	display: block;
	opacity: 0.99;
	/* min-height: 100vh; */
	overflow: hidden;
	position: relative;
}
#contact::after{
    display: block;
    content: "";
    position: absolute;
    /* background: rgba(204, 204, 204, 0.37); */
    /* background-attachment: fixed; */
    background: url(/img/team.jpg) no-repeat bottom center scroll;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(1px);
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    background-position: center bottom;
		background-size: cover;
}
@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 100px;
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
  }  
	.introre  p {
    font-size: 50px;
  }
}
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
	border: 2px solid #333;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
	color: #333;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
.content-section {
	padding-top: 80px;
	padding-bottom: 30px;
/* 	min-height: 70%; */
}
/* .content-section :before{
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
.content-section :after{
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
} */

.content-section {
/*     min-height: 80vh; */
	position: relative;
/* 	height: -webkit-fill-available; */
}
@media (min-width: 768px) {
	.content-section {
		padding-top: 100px;
	/* 	min-height: 70%; */
	}
}
@media (max-width: 767px) {
	.content-section{
		padding-bottom:0;
		padding-top: 60px;
		margin-top: 0;
		padding-top: 20px;
	}
}

.download-section {
  width: 100%;
  padding: 50px 0;
  color: white;
  background: url(../img/vr_bck3.jpg) no-repeat center center scroll;
	background-attachment: fixed;
/* 	background: url(/img/vr_bck2.jpg) no-repeat bottom center scroll; */
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#map {
  width: 100%;
  height: 200px;
  margin-top: 100px;
}
@media (min-width: 767px) {
  .content-section {
    /* padding-top: 250px; */
		/* min-height: 70%; */
  }
  .download-section {
    padding: 100px 0;
  }
  #map {
    height: 400px;
    margin-top: 250px;
  }
}
/* .btn {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}
.btn-default {
  border: 1px solid #42DCA3;
  color: #42DCA3;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #42DCA3;
  outline: none;
  color: black;
  background-color: #42DCA3;
} */
ul.banner-social-buttons {
  margin-top: 0;
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}
footer {
/*   padding: 50px 0; */
}
footer p {
  margin: 0;
}
/* ::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
} */
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

